*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #222328;
}

body{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}

header{
    width: 1200px;
    height: 100px;
    background: palegreen;
}

    .logo{
        float: left;
        margin-top: 30px;
    }

        .logo img{
            width: 100%;
        }

    
    .navi{
        float: right;
        display: inline-block;
    }

        .main_nav{
            display: flex;
        }

            .main_nav li{
                display: flex;
                width: 100px;
                height: 40px;
                text-align: center;
                margin-top: 36px;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                font-weight: 600;
                cursor: pointer;
            }

            .main_nav li:hover{
                background-color: rebeccapurple;
                color: #fff;
                transition: all 1s;
            }

            .sub_nav{
                display: none;
                /* display: flex; */
                position: absolute;
                width: 400px;
                height: 160px;
                z-index: 999;
                background: rgba(255,255,255,.7);
            }
            
            .sub_nav li{
                display: flex;
                width: 100px;
                height: 40px;
                justify-content: center;
                align-items: center;
                font-size: 15px;
            }

            .sub_nav li>a:hover{
                background-color: steelblue;
                transition: all .5s;
                color: #fff
            }

section{
    width: 1200px;
    height: 500px;
    background-color: salmon;
    display: flex;
    flex-direction: column;
}

    .main_section{
        width: 1200px;
        height: 300px;
        overflow: hidden;
    }

    .sub_section{
        display: flex;
        width: 100%;
    }

        .notics{
            width: 400px;
            height: 200px;
            background-color: sandybrown;
        }

            .tab_notics_menu ul{
                display: flex;
                justify-content: space-between;
            }

            .tab_notics_menu li{
                width: 200px;
                height: 30px;
                text-align: center;
                padding-top: 7px;
                background: seagreen;
                font-weight: 700;
            }

            .tab_notics{
                display: flex;
                justify-content: space-between;
            }

            .tab_notics ul{
                margin: 10px 20px;
            }

            .tab_notics li{
                display: block;
                line-height: 30px;
            }

        .banner{
            width: 400px;
            height: 200px;
            background-color: paleturquoise;
            overflow: hidden;
        }
            .banner img{
                width: 100%;
            }

        .go-contents{
            width: 400px;
            height: 200px;
            overflow: hidden;
            background-color: plum;
        }
            .go-contents img{
                width: 100%;
            }

footer{
    width: 1200px;
    height: 70px;
    background: #222328;
    display: flex;
}

    .footer_logo{
        float: left;
        width: 300px;
        margin-top: 15px;
    }

        .footer_logo img{
            width: 200px;
        }

    .copyright{
        width: 700px;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }

    .copyright{
        color: #eee;
    }

    .sns{
        float: right;
        width: 200px;
        margin-right: 20px;
        margin-top: 20px;
    }

        .sns li{
            float: right;
            margin-left: 10px;
        }
        .sns img{
            width: 30px;
        }
        
