/* header {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	background:#FFF;
	height:60px;
	z-index:9999;
}

header.scrolled {
	background: rgba(0, 0, 0, 0.2)rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

header nav {
	clear:both;
	display: block;
	line-height: 60px;
	height:60px;
	position:relative;
} */

.grt-mobile-button {
	display:none;
}

.grt-mobile-button:focus {
	border:0;
	outline:0;
}

ul.grt-menu {
	display: block;
	float:right;
	margin:0 10px 0 10px;
	padding:0;
	list-style-type: none;
}

ul.grt-menu:after {
	content:"";
	clear:both;
	display:block;
}

ul.grt-menu li {
	display: inline-block;
	margin:0;
	padding:0;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

ul.grt-menu li a {
	padding: 5px 12px;
	display: inline-block;
	color:#303030;
	line-height: 1.1em;
	background: inset 0 0 0 0 #FFF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
	position:relative;
	text-decoration: none;
	text-transform: lowercase;
}


@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

ul.grt-menu :hover {
	cursor:pointer;
}


/* ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li:last-child a {
	padding-bottom:15px;
} */


ul.grt-menu {
	display:block !important;
}

ul.grt-menu a{
	color:#FFF;
}


/* Desktop only style */
@media (min-width:768px) {
	
	ul.grt-menu{
		display:none;
		top: calc(100% - 17px);
	}

	ul.grt-menu li a:hover {
		margin: 0;
		color:#FFF;
		background: #ee2b34;
		font-size: 1em;
		font-weight: bold;
	}
}

/* Tablet only style */
@media (min-width:768px) and (max-width:991px) {

	.grt-menu{
		display: none;
	}

	

/* Mobile only style */
@media (max-width:767px) {

	ul.grt-menu li{
		width: 100% !important;
		/* box-shadow: inset 150px 0 0 0 #ee2b34; */
	}

	.grt-mobile-button {
		display:inline-block;
		position:absolute;
		right:35px;
		top:30px;
		background-color: rgba(255, 255, 255, 0);
		color:#3d3d3d;
		margin: -10px;
		padding:0;
		cursor:pointer;
		border: 0;
		width:35px;
	}

	.grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
		width: 30px;
		height: 3px;
		background-color: #333;
		margin: 7.1px 0px;
		transition: 0.4s;
		display:block;
	}

	ul.grt-menu {
		display:none;
		margin:0;
  		height: 0;
	}  

	ul.open-grt-menu {
		position: fixed;
		background: rgba(255, 255, 255, 0.7);
		width: 40vw;
		right: 0px;
		top: 0;
		height:100%;
		float: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		
	}

	.grt-mobile-button-open {
		position: fixed;
		z-index:99999;
		right:30px;
		top:30px;
		z-index: 5000;
	}

	.grt-mobile-button-open .line1 {
		-webkit-transform: rotate(-45deg) translate(-8px, 5px);
		transform: rotate(-45deg) translate(-8px, 5px);
	}

	.grt-mobile-button-open .line2 {opacity: 0;}
	
	.grt-mobile-button-open .line3 {
		-webkit-transform: rotate(45deg) translate(-8px, -7px);
		transform: rotate(45deg) translate(-8px, -7px);
	}

	ul.grt-menu li {
		display: block;
		line-height: 3.5em;
		width: 100%;
	}

	ul.grt-menu li a {
		padding: 6px 20px;
		font-size:25px;
		
	}

	ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
		width:100%;
		position: relative;
		display:none;
	}

	ul.grt-menu li a:hover {
		font-weight: 700;
		color:#FFF;
		/* background: #ee2b34; */
		color:#000;
	}

	ul.grt-menu li :hover{
		display: block;
		background: #ee2b34;
	}

	
}