/* font */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: 'Gyeonggi-do_Bold';
	src: url('../fonts/Gyeonggi-do_Bold.eot');
	src: url('../fonts/Gyeonggi-do_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gyeonggi-do_Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  } 

html {
	scroll-behavior: smooth;
}

body{
	font-family: 'Nanum Gothic', sans-serif;
}

*{
	list-style:none;
	margin:0;
	padding:0;}

a{
	text-decoration: none;
	color: inherit
}

/* section01 --------------------------------------------- */

#section01{
	width:100%;
	background:url(../images/01-bg.jpg) top center no-repeat;
}

/* menu */
	
	nav{
		width: 100%;
		background: rgba(255,255,255,0.5);
		position: fixed;
		display: inline-flex;
		z-index: 9999;
	}

	.menu_box{
		width:90%;
		margin: 0 auto;
		color:#FFF;
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		display: flex;
		justify-content: space-between;
		font-family: 'Nanum Gothic', sans-serif;
	}

	.logo>img{
		width: 70%;
		padding-top: 5%;
	}

	.navi{
		display: flex;
	}

		/* .grt-mobile-button */
		.grt-mobile-button {
			display:none;
		}

		.grt-mobile-button:focus {
			border:0;
			outline:0;
		}

		
	.fixed{
		background:rgba(255,255,255,0);
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		width: 90%;
	}

		.menu_box{
			justify-content: space-between;
		}
				
		.menu_box li{
			text-align: right;}
					
		.menu_box .navi li a{
			display: flex;
			text-decoration:none;
			color: black;
			line-height:80px;
			font-size: 1em;
			padding: 15px 20px 0 20px;
			justify-content: center;
		}

		.navi li a:hover {
			margin: 0;
			background: #ee2b34;
			color: #fff;
			font-size: 1em;
			font-weight: bold;
			animation-name: fadeIn;
			animation-duration: 2s;
		}
		
		@keyframes fadeIn {
			from { opacity: 0; }
			  to { opacity: 1; }
		}

		ul.grt-menu:after {
			content:"";
			clear:both;
			display:block;
		}
					
/* main-01  */

.main{
	padding-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

.main_title h1{
    font-family: 'Gyeonggi-do_Bold';
    letter-spacing: -2px;
    color: #181818;
    width: 100%;
    font-size: 3em;
	text-align: center;
	padding-top: 3%;
}

.main_title p{
    margin: 0 auto;
    display: block;
	width: 45%;
	color: #181818;
    font-size: 0.9em;
    text-align: center;
	padding-top: 2%;
	line-height: 30px;
	padding-bottom: 14%;
}

.logo-file{
    display: flex;
    width: 100%;
    justify-content: center;
	align-items: center;
	padding-top: 100%;
	}

	/* main-logo animation */

	.focus-in-contract-bck {
		-webkit-animation: focus-in-contract-bck 2s cubic-bezier(0.500, 0.460, 0.450, 0.940) both;
		animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}

	@-webkit-keyframes focus-in-contract-bck {
		0% {
		  	letter-spacing: 1em;
		  	-webkit-transform: translateZ(300px);
			  transform: translateZ(300px);
		  	-webkit-filter: blur(12px);
			  filter: blur(12px);
	 	 	opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(12px);
			  transform: translateZ(12px);
			-webkit-filter: blur(0);
			  filter: blur(0);
	 	 	opacity: 1;
		}
  	}
  	@keyframes focus-in-contract-bck {
		0% {
	 	letter-spacing: 1em;
	  	-webkit-transform: translateZ(300px);
			  transform: translateZ(300px);
	  	-webkit-filter: blur(12px);
			  filter: blur(12px);
	 	 opacity: 0;
		}
		100% {
	 	 -webkit-transform: translateZ(12px);
			  transform: translateZ(12px);
	 	 -webkit-filter: blur(0);
			  filter: blur(0);
	 	 opacity: 1;
		}
  	}


/* section02 --------------------------------------------- */

#section02{
	width:100%;
	display: flex;
}

	/* sec02-left */
	.sec02-left{
		width: 30%;
		padding-top: 10%;
		text-align: right;
		justify-content: right;
		background: url('../images/sec02_background.jpg');
		background-position: center;
		background-repeat: cover;
		padding-bottom: 5%;
	}

		.sec02-txt{
			padding-right: 10%;
		}

		.sec02-title{
			font-family: 'Gyeonggi-do_Bold';
		}

			.sec02-title h2{
				font-size: 8em;
				font-weight: 900;
				color: #eeeeee;
			}

			.sec02-title h1{
				font-size: 5em;
				color: black;
				letter-spacing: -8px;
				margin-top: -10px;
				background: #00bcd4;
			}

			.sec02-button{
				padding-top: 10%;
				line-height: 5;
				font-weight: 400;
				text-decoration: none;
				list-style: none;
				padding-bottom: 50%
			}
		
			.sec02-button a{
				list-style: none;
				text-decoration: none;
				color: inherit;
				cursor: pointer;
			}

div.brackets li> a:before, div.brackets li a:after{
    position: absolute;
    opacity: 0;
    font-size: 1em;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before
{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after
{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}

	/* sec02-right */
	.sec02-right{
		width: 70%;
		position: relative;;
		margin: 0;
		padding: 0;
	}

		.sec02-button li{
			cursor: pointer;
		}

		/* slide_1 */

		.sec02_slide_1{
			position: relative;
			width: 100%;
			background-color: #fff;		
		}
			.sec02_culture{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}

				.sec02_1_img>img{
					width: 100%;
				}

				.sec02_1_txt{
					display: flex;
				}

				.sec02_1_txt h1{
					width: 30%;
					font-family: 'Noto Sans KR', sans-serif;
					font-size: 2.5em;
					font-weight: 900;
					padding-top: 2%;
				}

				.sec02_1_txt p{
					width: 70%;
					padding-top: 2%;
					line-height: 25px;
					
				}

		/* slide_2 */
	
		.sec02_slide_2{
			display: none;
			position: relative;
			width: 100%;
			background-color: #fff;		
		}
			.sec02_coffee{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}

				.sec02_2_img>img{
					width: 100%;
				}

				.sec02_2_txt{
					width: 100%;
					display: flex;
					height: 120px;
				}

				.sec02_2_txt h1{
					width: 30%;
					font-family: 'Noto Sans KR', sans-serif;
					font-size: 2.5em;
					font-weight: 900;
					padding-top: 2%;
					line-height: 50px;
				}

				.sec02_2_txt p{
					width: 100%;
					padding-top: 2%;
					line-height: 25px;
					
				}

				.sec02_info{
					width: 100%;
					display: flex;
					height: 100px;
					padding-top: 5%;
				}

					.sec02_call{
						width: 50%;
						display: flex;
						align-items: center;
					}

					.sec02_call>img{
						width: 100px;
					}

					.sec02_call>p{
						font-size: 1em;
						margin-left: 10px;
					}

					.sec02_time{
						width: 50%;
						display: flex;
						align-items: center;
					}

					.sec02_time>img{
						width: 100px;
					}

					.sec02_time>p{
						font-size: 1em;
						margin-left: 10px;
						line-height: 25px;
					}

		/* slide_3 */
		.sec02_slide_3{
			display: none;
			position: relative;
			width: 100%;
			background-color: #fff;		
			}
			
			.sec02_restaurant{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}
			
				.sec02_3_img>img{
					width: 100%;
				}
			
				.sec02_3_txt{
					display: flex;
					height: 100px;
				}
			
					.sec02_3_txt h1{
						width: 30%;
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2.5em;
						font-weight: 900;
						padding-top: 2%;
						line-height: 50px;
					}
			
					.sec02_3_txt p{
						width: 70%;
						padding-top: 2%;
						line-height: 25px;
					}
		
		/* slide_4 */
		.sec02_slide_4{
			display: none;
			position: relative;
			width: 100%;
			background-color: #fff;		
			}
			
			.sec02_studio{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}
			
				.sec02_4_img>img{
					width: 100%;
				}
			
				.sec02_4_txt{
					display: flex;
					height: 100px;
				}
			
					.sec02_4_txt h1{
						width: 30%;
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2.5em;
						font-weight: 900;
						padding-top: 2%;
						line-height: 50px;
					}
			
					.sec02_4_txt p{
						width: 70%;
						padding-top: 2%;
						line-height: 25px;
					}
					


/* section03 --------------------------------------------- */
	
#section03{
	width:100%;
	background: #eee;
}


.creation_space{
	width: 80%;
	margin: 0 auto;
}

.sec03_title{
	width: 100%;
	padding-top: 5%;
}

	/* .sec03_title h1{
		font-family: 'Gyeonggi-do_Bold';
		font-size: 5em;
		color: black;
		letter-spacing: -8px;
	}

	.sec03_title h2{
		font-family: 'Gyeonggi-do_Bold';
		font-size: 8em;
		font-weight: 900;
		color: #eeeeee;
	}

	.sec03-line{
		position: absolute;
		border: #d52024 solid 1px;
		width: 530px;
		left: 0px;
		margin: 0 auto;
	} */

.sec03_box{
	margin-top: 10%;
	width: 100%;
	padding-bottom: 50%;
	position: relative;
}

	/* sec03_box1 */
	.sec03_box1{
		position: absolute;
		display: block;
		width: 300px;
		height: 500px;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
	}

	.sec03_box1:hover .box1_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:300px;
  		height:500px;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box1:hover .box1_darkness>p{
		position: absolute;
		top: 30%;
		color: #fff;
	}

		.box1_darkness>p{
			position: absolute;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box1_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box1 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box1>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box1>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}

	/* sec03_box2 */
	.sec03_box2{
		position: absolute;
		display: block;
		width: 300px;
		height: 500px;
		left: 25%;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
	}

	.sec03_box2:hover .box2_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:300px;
  		height:500px;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box2:hover .box2_darkness>p{
		position: absolute;
		top: 25%;
		color: #fff;
	}

		.box2_darkness>p{
			position: absolute;
			left: 0;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box2_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box2 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box2>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box2>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}
	

	/* sec03_box3 */
	.sec03_box3{
		position: absolute;
		display: block;
		width: 300px;
		height: 500px;
		left: 50%;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
	}

	.sec03_box3:hover .box3_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:300px;
  		height:500px;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box3:hover .box3_darkness>p{
		position: absolute;
		top: 25%;
		color: #fff;
	}

		.box3_darkness>p{
			position: absolute;
			left: 0;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box3_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box3 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box3>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box3>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}

	/* sesc03_box4 */
	.sec03_box4{
		position: absolute;
		display: block;
		width: 300px;
		height: 500px;
		left: 75%;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
	}

	.sec03_box4:hover .box4_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:300px;
  		height:500px;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box4:hover .box4_darkness>p{
		position: absolute;
		top: 20%;
		color: #fff;
	}

		.box4_darkness>p{
			position: absolute;
			left: 0;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box4_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box4 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box4>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box4>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}



/* section04 --------------------------------------------- */
	
#section04{
	width:100%;
	height:1500px;
	background: #fff;
}

	.exhibit-performance{
		display: flex;
	}

		/* left */
		.exhibit-performance_left{
			width: 25%;
			display: flex;
			flex-direction: column;
		}

			.exhibit{
				display: flex;
				width: 100%;
				height: 500px;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-image: url("../images/sec04-01.jpg");
				background-size: cover;
			}

			.performance{
				display: flex;
				width: 100%;
				height: 500px;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-image: url("../images/sec04-02.jpg");
				background-size: cover;
			}

			.exhibit-performance_left span{
				font-family: 'Gyeonggi-do_Bold';
				font-size: 2.2em;
				font-weight: 900;
				padding-top: 7%
			}

			.exhibit-performance_left img{
				width: 30%;
			}

		/* right */
		.exhibit-performance_right{
			width: 75%;
			display: flex;
		}

			.exhibit_contents{
				width: 100%;
				display: flex;
				align-items: center;
				/* justify-content: center; */
				
			}
			
				.exhibit_photo{
					width: 50%;
					position: relative;
					left: 150px;
				}

					.exhibit_photo>img{
						width: 500px;
						align-items: center;
					}
				
				.exhibit_txt{
					width: 40%;
					position: relative;
					top: 0%;
				}

					.exhibit_txt h1{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2em;
						font-weight: 900;
						color:#d52024;
					}

					.exhibit_txt h3{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 1.5em;
						font-weight: 900;
						color:lightseagreen;
						padding-top: 30px;
					}

					.exhibit_txt p>strong{
						font-weight: 900;
					}
		

					.exhibit_txt p{
						font-size: 1em;
						color:inherit;
						padding-top: 50px;
						line-height: 30px;
					}
			
			.performance_contents{
				width: 100%;
				display: none;
				align-items: center;
			}
			

				.performance_photo{
					width: 50%;
					position: relative;
					left: 100px;
				}

					.performance_photo>img{
						width: 500px;
						align-items: center;
					}
				
				.performance_txt{
					width: 40%;
					position: relative;
					left:150px;
				}

					.performance_txt h1{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2em;
						font-weight: 900;
						color:#d52024;
					}

					.performance_txt h3{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 1.5em;
						font-weight: 900;
						color:lightseagreen;
						padding-top: 30px;
					}

					.performance_txt p>strong{
						font-weight: 900;
					}
		

					.performance_txt p{
						font-size: 1em;
						color:inherit;
						padding-top: 50px;
						line-height: 30px;
					}

		
	

	

/* media ------------------------------------------*/

@media (max-width:768px){
	
	.navi{
		display: none;
	}

	.grt-menu-right{
		display: flex;
	}

	/* grt-mobile-button */
	
	.grt-mobile-button {
		display:inline-block;
		position:absolute;
		right:35px;
		top:30px;
		background-color: rgba(255, 255, 255, 0);
		color:#3d3d3d;
		margin: -10px;
		padding:0;
		cursor:pointer;
		border: 0;
		width:35px;
	}

	.grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
		width: 30px;
		height: 3px;
		background-color: #333;
		margin: 7.1px 0px;
		transition: 0.4s;
		display:block;
	}
	
	.open-grt-menu {
		position: fixed;
		background: rgba(255, 255, 255, 0.7);
		width: 40vw;
		right: 0px;
		top: 0;
		height:100%;
		float: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		
	}

	.grt-mobile-button-open {
		position: fixed;
		z-index:99999;
		right:30px;
		top:30px;
		z-index: 5000;
	}

	.grt-mobile-button-open .line1 {
		-webkit-transform: rotate(-45deg) translate(-8px, 5px);
		transform: rotate(-45deg) translate(-8px, 5px);
	}

	.grt-mobile-button-open .line2 {opacity: 0;}
	
	.grt-mobile-button-open .line3 {
		-webkit-transform: rotate(45deg) translate(-8px, -7px);
		transform: rotate(45deg) translate(-8px, -7px);
	}

	.grt-menu li {
		display: block;
		line-height: 3.5em;
		width: 100%;
	}


