/* font */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: 'Gyeonggi-do_Bold';
	src: url('../fonts/Gyeonggi-do_Bold.eot');
	src: url('../fonts/Gyeonggi-do_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gyeonggi-do_Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }

  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 32px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }

html {
	scroll-behavior: smooth;
}

body{
	font-family: 'Nanum Gothic', sans-serif;
}

.clearfix{clear: both;}

*{
	list-style:none;
	margin:0;
	padding:0;}

a{
	text-decoration: none;
	color: inherit
}

/* section01 --------------------------------------------- */

#section01{
	width:100%;
	background:url(../images/01-bg.jpg) top center no-repeat;
	overflow: hidden;
}

/* menu */
	
	nav{
		width: 100%;
		background: rgba(255,255,255,0.5);
		position: fixed;
		display: inline-flex;
		z-index: 9999;
	}

	.menu_box{
		width:90%;
		margin: 0 auto;
		color:#FFF;
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		display: flex;
		justify-content: space-between;
		font-family: 'Nanum Gothic', sans-serif;
	}

	.logo>img{
		width: 70%;
		padding-top: 5%;
	}

	.navi{
		display: flex;
	}

		/* .grt-mobile-button */
		.grt-mobile-button {
			display:none;
		}

		.grt-mobile-button:focus {
			border:0;
			outline:0;
		}

		
	.fixed{
		background:rgba(255,255,255,0);
		transition:all 0.5s ease-in-out;
		-webkit-transition:all 0.5s ease-in-out;
		width: 90%;
	}

		.menu_box{
			justify-content: space-between;
		}
				
		.menu_box li{
			text-align: right;}
					
		.menu_box .navi li a{
			display: flex;
			text-decoration:none;
			color: black;
			line-height:80px;
			font-size: 1em;
			padding: 15px 20px 0 20px;
			justify-content: center;
		}

		.navi li a:hover {
			margin: 0;
			background: #ee2b34;
			color: #fff;
			font-size: 1em;
			font-weight: bold;
			animation-name: fadeIn;
			animation-duration: 2s;
		}
		
		@keyframes fadeIn {
			from { opacity: 0; }
			  to { opacity: 1; }
		}

		ul.grt-menu:after {
			content:"";
			clear:both;
			display:block;
		}
					
/* main-01  */

.main{
	padding-top: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

.main_title h1{
    font-family: 'Gyeonggi-do_Bold';
    letter-spacing: -2px;
    color: #181818;
    width: 100%;
    font-size: 3em;
	text-align: center;
	padding-top: 3%;
}

.main_title p{
    margin: 0 auto;
    display: block;
	width: 40%;
	color: #181818;
    font-size: 1em;
    text-align: center;
	padding-top: 2%;
	line-height: 30px;
	padding-bottom: 14%;
}

.main_logo{
	display: flex;
	justify-content: center;

}
.logo-file{
    width: 100%;
	margin-top: 80%;
	}

	/* section02 --------------------------------------------- */

#section02{
	width:100%;
	display: flex;
	overflow: hidden;
}

	/* sec02-left */
	.sec02-left{
		width: 30%;
		padding-top: 15%;
		text-align: right;
		justify-content: right;
		background: url('../images/sec02_background.jpg');
		background-position: center;
		background-repeat: cover;
		padding-bottom: 5%;
	}

		.sec02-txt{
			margin-right: 10%;
		}

			.sec02-title h1{
				font-family: 'Gyeonggi-do_Bold';
				font-size: 5em;
				color: black;
				letter-spacing: -8px;
				margin-top: -10px;
			}

			.sec02-button{
				padding-top: 10%;
				font-weight: 400;
				text-decoration: none;
				list-style: none;
				padding-bottom: 30%
			}

			.sec02-button a{
				font-size: 17px;
				color: #181818;
				list-style: none;
				text-decoration: none;
				color: inherit;
				cursor: pointer;
				margin: 0px 10px;
				position: relative;
				z-index: 0;		
				line-height: 5;
			}

			.brackets a:before, .brackets a:after
			{
				position: absolute;
				opacity: 0;
				font-size: 17px;
				transition: all 0.3s;
				font-weight: 700;
			}

			.brackets a:before
			{
				content: '(';
				left: -15px;
				font-weight: 700;
				transform: translateX(20px);
			}

			.brackets a:after
			{
				content: ')';
				right: -15px;
				font-weight: 700;
				transform: translateX(-20px);
			}

			div.brackets a:hover:before, div.brackets a:hover:after
			{
				opacity: 1;
				transform: translateX(0px);
			}

	/* sec02-right */
	.sec02-right{
		width: 70%;
		margin: 0;
		padding: 0;
	}

		/* slide_1 */

		.sec02_slide_1{
			width: 100%;
			background-color: #fff;		
		}
			.sec02_culture{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}

				.sec02_1_img>img{
					width: 100%;
				}

				.sec02_1_txt{
					display: flex;
					padding-top: 2%;
				}

				.sec02_1_txt h1{
					width: 30%;
					font-family: 'Noto Sans KR', sans-serif;
					font-size: 2.5em;
					font-weight: 900;
					padding-top: 2%;
				}

				.sec02_1_txt p{
					width: 70%;
					line-height: 25px;
					
				}

		/* slide_2 */
	
		.sec02_slide_2{
			display: none;
			width: 100%;
			background-color: #fff;		
		}
			.sec02_coffee{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}

				.sec02_2_img>img{
					width: 100%;
				}

				.sec02_2_txt{
					width: 100%;
					display: flex;
				}

				.sec02_2_txt h1{
					width: 40%;
					font-family: 'Noto Sans KR', sans-serif;
					font-size: 2.5em;
					font-weight: 900;
					padding-top: 2%;
					line-height: 50px;
				}

				.sec02_2_txt p{
					width: 60%;
					padding-top: 2%;
					line-height: 25px;
					
				}

				.sec02_info{
					width: 100%;
					display: flex;
					padding-top: 5%;
				}

					.sec02_call{
						width: 50%;
						display: flex;
						align-items: center;
					}

					.sec02_call>img{
						width: 70px;
					}

					.sec02_call>p{
						font-size: 1em;
						margin-left: 10px;
					}

					.sec02_time{
						width: 50%;
						display: flex;
						align-items: center;
					}

					.sec02_time>img{
						width: 70px;
					}

					.sec02_time>p{
						font-size: 1em;
						margin-left: 10px;
						line-height: 25px;
					}

		/* slide_3 */
		.sec02_slide_3{
			display: none;
			width: 100%;
			background-color: #fff;		
			}
			
			.sec02_restaurant{
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}
			
				.sec02_3_img>img{
					width: 100%;
				}
			
				.sec02_3_txt{
					display: flex;
				}
			
					.sec02_3_txt h1{
						width: 40%;
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2.5em;
						font-weight: 900;
						padding-top: 2%;
						line-height: 50px;
					}
			
					.sec02_3_txt p{
						width: 100%;
						padding-top: 2%;
						line-height: 25px;
					}

					.sec03_info{
						width: 100%;
						display: flex;
						height: 100px;
						padding-top: 5%;
					}
	
						.sec03_call{
							width: 40%;
							display: flex;
							align-items: center;
						}
	
						.sec03_call>img{
							width: 70px;
						}
	
						.sec03_call>p{
							font-size: 1em;
							margin-left: 10px;
						}
	
						.sec03_time{
							width: 60%;
							display: flex;
							align-items: center;
						}
	
						.sec03_time_txt>p{
							width: 100%;
							font-size: 1em;
							margin-left: 3%;
							line-height: 25px;
						}
		
		/* slide_4 */
		.sec02_slide_4{
			display: none;
			width: 100%;
			background-color: #fff;		
			}
			
			.sec02_studio{
				display: none;
				width: 70%;
				padding-top: 10%;
				margin: 0 auto;
			}
			
				.sec02_4_img>img{
					width: 100%;
				}
			
				.sec02_4_txt{
					display: flex;
				}
			
					.sec02_4_txt h1{
						width: 40%;
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2.5em;
						font-weight: 900;
						padding-top: 2%;
						line-height: 50px;
					}
			
					.sec02_4_txt p{
						width: 70%;
						padding-top: 2%;
						line-height: 25px;
					}

/* section03 --------------------------------------------- */
	
#section03{
	width:100%;
	background: #eee;
	overflow: hidden;
}


.creation_space{
	width: 80%;
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

.sec03_box{
	width: 100%;
	display: flex;
	padding-top: 100px;
	justify-content: space-between;
}

.sec03_box_left{
	display: flex;
	width: 100%;
}

.sec03_box_right{
	display: flex;
	width: 100%;
}

	/* sec03_box1 */
	.sec03_box1{
		display: block;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
		width: 300px;
		height: 500px;
		margin-right: auto;
	}

	.sec03_box1:hover .box1_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box1:hover .box1_darkness>p{
		position: absolute;
		top: 30%;
		color: #fff;
	}

		.box1_darkness>p{
			position: absolute;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box1_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box1 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box1>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box1>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}

	/* sec03_box2 */
	.sec03_box2{
		display: block;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
		width: 300px;
		height: 500px;
		margin-right: auto;
	}

	.sec03_box2:hover .box2_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:100%;
  		height:100%;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box2:hover .box2_darkness>p{
		position: absolute;
		top: 25%;
		color: #fff;
	}

		.box2_darkness>p{
			position: absolute;
			left: 0;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box2_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box2 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box2>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box2>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}
	

	/* sec03_box3 */
	.sec03_box3{
		display: block;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
		width: 300px;
		height: 500px;
		margin-right: auto;
	}

	.sec03_box3:hover .box3_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:100%;
  		height:100%;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box3:hover .box3_darkness>p{
		position: absolute;
		top: 25%;
		color: #fff;
	}

		.box3_darkness>p{
			position: absolute;
			left: 0;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box3_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box3 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box3>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box3>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}

	/* sesc03_box4 */
	.sec03_box4{
		display: block;
		background-color: #fff;
		box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
		cursor: pointer;
		overflow: hidden;
		width: 300px;
		height: 500px;
		margin-right: auto;
	}

	.sec03_box4:hover .box4_darkness{
		position: absolute;
		left: 0;
		top: 0;
		width:100%;
  		height:100%;
		background-color: rgba(0,0,0,.8);
		transition:all .4s linear;
		overflow: hidden;
	}

	.sec03_box4:hover .box4_darkness>p{
		position: absolute;
		top: 20%;
		color: #fff;
	}

		.box4_darkness>p{
			position: absolute;
			left: 0;
			top: 100%;
			color: #fff;
			margin: 20px;
			line-height: 30px;
			font-weight: 300;
			font-size: 0.8em;
		}

		.box4_darkness>p strong{
			font-weight: 700;
			font-size: 1.4em;
		}

		.sec03_box4 img{
			display: flex;
			width: 90%;
			margin: 15px auto;
		}

		.sec03_box4>h3{
			font-size: 1.5em;
			font-weight: 900;
			text-align: right;
			margin-right: 15px;
		}

		.sec03_box4>p{
			font-size: 1em;
			text-align: right;
			margin-right: 15px;
			margin-top: 15px;
		}

/* section04 --------------------------------------------- */
	
#section04{
	width:100%;
	background: #fff;
	overflow: hidden;
}

	.exhibit-performance{
		display: flex;
		padding-bottom: 10%;
	}

		/* left */
		.exhibit-performance_left{
			width: 25%;
			display: flex;
			flex-direction: column;
			margin-left: 10%;
			margin-top: 10%;
			height: 100%;
		}

			.exhibit{
				display: flex;
				width: 70%;
				height: 300px;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-image: url("../images/sec04-01.jpg");
				background-size: cover;
				cursor: pointer;
			}

			.performance{
				margin-top: 20%;
				display: flex;
				width: 70%;
				height: 300px;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				background-image: url("../images/sec04-02.jpg");
				background-size: cover;
				cursor: pointer;
			}

			.exhibit-performance_left h3{
				display: none;
				font-family: 'Gyeonggi-do_Bold';
				font-size: 2.5em;	
				font-weight: 900;
				letter-spacing: -1px;
				position: relative;
				z-index: 555;
				color: #fff;
				justify-content: center;
				text-align: center;
				margin-top: 40%;
			}

			.exhibit-performance_left img{
				width: 30%;
			}

			.snip1585 {
				background-color: #000;
				display: inline-block;
				margin: 10px;
				max-width: 315px;
				min-width: 230px;
				overflow: hidden;
				position: relative;
				text-align: center;
				width: 100%;
			  }
			  
			  .snip1585 * {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-transition: all 0.45s ease;
				transition: all 0.45s ease;
			  }
			  
			  .snip1585:before,
			  .snip1585:after {
				background-color: rgba(0, 0, 0, 0.5);
				border-top: 50px solid rgba(0, 0, 0, 0.5);
				border-bottom: 50px solid rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				z-index: 1;
				opacity: 0;
			  }
			  
			  .snip1585:before {
				-webkit-transform: scaleY(2);
				transform: scaleY(2);
			  }
			  
			  .snip1585:after {
				-webkit-transform: scaleY(2);
				transform: scaleY(2);
			  }
			  
			  .snip1585 img {
				vertical-align: top;
				max-width: 100%;
				backface-visibility: hidden;
			  }
			  
			  .snip1585 div {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				align-items: center;
				z-index: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				line-height: 1.1em;
				opacity: 0;
				z-index: 2;
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			  }
			  
			  
			  .snip1585:hover>h3{
				color: #fff;
				display: flex;
				transition: all 3s;
				}
			  
			  .snip1585:hover > img,
			  .snip1585.hover > img {
				opacity: 0.7;
			  }
			  
			  .snip1585:hover:before,
			  .snip1585.hover:before,
			  .snip1585:hover:after,
			  .snip1585.hover:after {
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
			  }
			  
			  .snip1585:hover div,
			  .snip1585.hover div {
				opacity: 1;
				-webkit-transition-delay: 0.1s;
				transition-delay: 0.1s;
			  }

		/* right */
		.exhibit-performance_right{
			width: 75%;
			display: flex;
			margin-top: 10%;
		}

			.exhibit_contents{
				width: 100%;
				display: flex;
				align-items: center;
				overflow: hidden;
			}
			
				.exhibit_photo{
					width: 40%;
					display: flex;
					margin-left:10%;
				}

					.exhibit_photo>img{
						width: 70%;
					}
				
				.exhibit_txt{
					width: 60%;
				}

					.exhibit_txt h1{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2em;
						font-weight: 900;
						color:#d52024;
					}

					.exhibit_txt h3{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 1.5em;
						font-weight: 900;
						padding-top: 30px;
					}

					.exhibit_txt p>strong{
						font-weight: 900;
					}
		

					.exhibit_txt p{
						font-size: 1em;
						color:inherit;
						padding-top: 50px;
						line-height: 30px;
					}
			
			.performance_contents{
				width: 100%;
				display: none;
				align-items: center;
			}
			
				.performance_photo{
					width: 50%;
					position: relative;
					left: 0%;
				}

					.performance_photo>img{
						width: 60%;
						align-items: center;
					}
				
				.performance_txt{
					width: 50%;
					position: relative;
					left:50px;
				}

					.performance_txt h1{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 2em;
						font-weight: 900;
						color:#d52024;
					}

					.performance_txt h3{
						font-family: 'Noto Sans KR', sans-serif;
						font-size: 1.5em;
						font-weight: 900;
						padding-top: 30px;
					}

					.performance_txt p>strong{
						font-weight: 900;
					}
		
					.performance_txt p{
						width: 80%;
						font-size: 1em;
						color:inherit;
						padding-top: 50px;
						line-height: 30px;
					}

#section05{
	width:100%;
	background: #eee;
}
	.map{
		display: flex;
		width: 90%;
		margin: 0 auto;
	}

	#map{
		width: 100%;
		height: 600px;
	}
					
	.map_navi{
		width: 70%;
		margin-top: 5%;	
		margin-bottom: 5%;	
	}
					
	.map_txt{
		padding-left: 5%;
		margin-top: 15%;
		width: 30%;
	}

	.map_txt strong{
		display: flex;
		flex-direction: column;
		line-height: 2em;
		font-size: 1.2em;
		font-weight: 700;
	}

	.map_txt p{
		display: flex;
		flex-direction: column;
		line-height: 20px;
	}


/* media ------------------------------------------*/

@media (max-width:997px){
	
	.navi{
		display: none;
	}

	.grt-menu-right{
		display: flex;
	}

	.grt-mobile-button {
		display:inline-block;
		position:absolute;
		right:35px;
		top:30px;
		background-color: rgba(255, 255, 255, 0);
		color:#3d3d3d;
		margin: -10px;
		padding:0;
		cursor:pointer;
		border: 0;
		width:35px;
	}

	.grt-mobile-button .line1, .grt-mobile-button .line2, .grt-mobile-button .line3 {
		width: 30px;
		height: 3px;
		background-color: #333;
		margin: 7.1px 0px;
		transition: 0.4s;
		display:block;
	}
	
	.open-grt-menu {
		position: fixed;
		background: rgba(255, 255, 255, 0.7);
		width: 40vw;
		right: 0px;
		top: 0;
		height:100%;
		float: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		align-items: center;
		
	}

	.grt-mobile-button-open {
		position: fixed;
		z-index:99999;
		right:0px;
		top:30px;
		z-index: 5000;
	}

	.grt-mobile-button-open .line1 {
		-webkit-transform: rotate(-45deg) translate(-8px, 5px);
		transform: rotate(-45deg) translate(-8px, 5px);
	}

	.grt-mobile-button-open .line2 {opacity: 0;}
	
	.grt-mobile-button-open .line3 {
		-webkit-transform: rotate(45deg) translate(-8px, -7px);
		transform: rotate(45deg) translate(-8px, -7px);
	}

	.grt-menu li {
		display: block;
		line-height: 3.5em;
		width: 100%;
	}

	/* section02 */

	.sec02-title h1{
		font-size: 3em;
		transition: all 1s;
	}

	/* 김포문화원 */
	.sec02_1_txt{
		flex-direction: column;
	}

	.sec02_1_txt h1{
		width: 100%;
		transition: all 0.5s;
		padding-bottom: 3%;
	}

	.sec02_1_txt p{
		width: 100%;
		transition: all 0.5s;
	}

	/* 한옥카페 다인 */
	.sec02_2_txt{flex-direction: column;}

	.sec02_2_txt h1{width: 100%;}

	.sec02_2_txt p{width: 100%;}

	.sec02_info{flex-direction: column;}

	.sec02_call{width: 100%;}

	.sec02_time{
		margin-top: 5%;
		width: 100%;
	}

	.sec02_time p{width: 100%;}

	/* 밥집모담 */
	.sec02_3_txt{flex-direction: column;}

	.sec02_3_txt h1{width: 100%;}

	.sec02_3_txt p{width: 100%; }
	.sec02_time_txt p{width: 100%; line-height: 30px; margin-left: 5%;}

	/* 한옥스튜디오 */
	.sec02_4_txt{flex-direction: column;}

	.sec02_4_txt h1{width: 100%;}

	.sec02_4_txt p{width: 100%;}

	/* section03 */

	.creation_space{
		width: 100%;
	}

	.sec03_box{
		width: 95%;
		display: flex;
		padding-top: 100px;
		padding-bottom: 70px;
		margin: 0 auto;
		justify-content: space-between;
		transition: all 1s;
	}
	
	.sec03_box_left{
		display: flex;
		width: 50%;
	}
	
	.sec03_box_right{
		display: flex;
		width: 50%;
	}

		.sec03_box1{
			padding: 0;
			margin: 0;
			width: 220px;
			height: 400px;
			margin-right: auto;
		}

			.sec03_box1>h3{
				font-size: 1.2em;
			}

			.sec03_box1:hover .box1_darkness>p{
				position: absolute;
				top: 20%;
				color: #fff;
			}

		.sec03_box2{
			margin: 0;
			padding: 0;
			width: 220px;
			height: 400px;
			margin-right: auto;
		}

			.sec03_box2>h3{
				font-size: 1.2em;
			}

			.sec03_box2:hover .box2_darkness>p{
				position: absolute;
				top: 10%;
				color: #fff;
				line-height: 25px;
			}

		.sec03_box3{
			margin: 0;
			padding: 0;
			width: 220px;
			height: 400px;
			margin-right: auto;
		}

			.sec03_box3>h3{
				font-size: 1.2em;
			}
			
			.sec03_box3:hover .box3_darkness>p{
				position: absolute;
				top: 20%;
				color: #fff;
				line-height: 25px;
			}
		
		.sec03_box4{
			margin: 0;
			padding: 0;
			width: 220px;
			height: 400px;
			margin-right: auto;
		}

			.sec03_box4>h3{
				font-size: 1.2em;
			}

			.sec03_box4:hover .box4_darkness>p{
				position: absolute;
				top: 17%;
				color: #fff;
				line-height: 25px;
			}

	/* section04 */

	.exhibit-performance{
		display: flex;
		padding-top: 10%;
		padding-bottom: 10%;
		height: 50vh;
		align-items: center;
		justify-content: center;
	}
	.exhibit-performance_left{
		width: 30%;
		margin: 0;
		align-items: center;
		justify-content: center;	
	}

	.exhibit-performance_right{
		width: 70%;
		display: flex;
		margin-top: 0;
	}

		.exhibit{
			width: 20%;
			height: 60%;
		}

		.performance{
			width: 20%;
			height: 60%;
		}

		.snip1585:hover>h3{
			color: #fff;
			display: flex;
			transition: all 3s;
			margin-top: 50%;
		}

	.exhibit_contents{
		width: 100%;
		display: flex;
	}

		.exhibit_photo{
			display: flex;
			width: 40%;
			margin-left: 0;
		}

			.exhibit_photo>img{
				width: 100%;
			}
				

		.exhibit_txt{
			width: 60%;
			margin-left: 5%;
		}

			.exhibit_txt h1{
				font-size: 1.5em;
			}

			.exhibit_txt h3{
				font-size: 1em;
			}

			.exhibit_txt p{
				font-size: 0.9em;
				color:inherit;
				padding-top: 30px;
				line-height: 20px;
			}

.performance_contents{
	width: 100%;
	display: none;
}

	.performance_photo{
		display: flex;
		width: 40%;
		margin-left: 0;
	}

		.performance_photo>img{
			width: 100%;
		}
			

	.performance_txt{
		width: 60%;
		margin-left: -5%;
	}

		.performance_txt h1{
			font-size: 1.5em;
		}

		.performance_txt h3{
			font-size: 1em;
		}

		.performance_txt p{
			font-size: 0.9em;
			color:inherit;
			padding-top: 30px;
			line-height: 25px;
		}


@media (max-width:576px){

	.logo>img{
		width: 50%;
		transition: all 0.5s;
	}

	/* section01 */

	.main_logo>img{
		width: 70%;
		transition: all 1s;
	}

	.main_title h1{
		font-size: 2em;
		padding-top: 7%;
	}

	.main_title p{
		width: 90%;
		font-size: 0.9em;
		line-height: 30px;
		padding-top: 5%;
		transition: all 1s;
	}

	/* section02 */

	#section02{
		flex-direction: column;
		width: 100%;
	}
	
		.sec02-left{
			width: 100%;
			padding-top: 5%;
		}

		.sec02-txt{
			padding: 0;
		}

		.sec02-title{
			display: none;
			text-align: center;
		}

		.sec02-button{
			padding: 0 10px;
			text-align: center;
		}

		.sec02-button ul{
			width: 80%;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}
		
		.sec02-button a{
			font-size: 17px;
			line-height: 2;
		}

		/* sec02-right */

		.sec02-right{
			width: 100%;
			padding-bottom: 0;
		}

			.sec02_culture{
				width: 100%;
				padding: 0;
			}

			.sec02_1_txt{
				width: 90%;
				margin: 0 auto;
			}

				.sec02_1_txt h1{
					margin-top: 5%;
					font-size: 2em;
				}

				.sec02_1_txt p{
					margin-top: 5%;
					padding-bottom: 10%;
				}
			
			
			.sec02_coffee{
				width: 100%;
				padding: 0;
			}

			.sec02_2_txt{
				flex-direction: column;
				width: 90%;
				margin: 0 auto;
			}

				.sec02_2_txt h1{
					margin-top: 2%;
					width: 100%;
				}

				.sec02_2_txt p{
					margin-top: 10px;
				}

			.sec02_info{
				flex-direction: column;
				width: 90%;
				padding-bottom: 10%;
				margin: 0 auto;
				margin-top: 5%;
			}

				.sec02_call{
					display: flex;
					width: 100%;
				}

				.sec02_info img, .sec02_time img{
					width: 30%;
				}

				.sec02_time{
					display: flex;
					width: 100%;
				}

		.sec02_restaurant{
			width: 100%;
			padding: 0;
		}
	
			.sec02_3_txt{
				flex-direction: column;
				width: 90%;
				margin: 0 auto;
			}
	
				.sec02_3_txt h1{
					margin-top: 10px;
					width: 100%;
				}

				.sec03_2_txt{
					margin-top: 10px;
					width: 100%;
				}

				.sec03_2_txt p{
					margin-top: 10px;
					width: 100%;
				}

				.sec03_info{
					flex-direction: row;
					width: 90%;
					padding-bottom: 10%;
					margin: 0 auto;
					margin-top: 5%;
				}
	
					.sec03_call{
						display: flex;
						width: 50%;
					}
	
					.sec03_info img, .sec03_time img{
						width: 30%;
					}
	
					.sec03_time{
						display: flex;
						width: 50%;
					}
		
		.sec02_studio{
			width: 100%;
			padding: 0;
		}			
		.sec02_4_img{
			width: 100%;
		}			

		.sec02_4_txt{
			width: 90%;
			margin: 0 auto;
		}


/* section03 */

	.creation_space{
		width: 100%;
		transition: all 5s;
		margin: 0 auto;
		display: flex;
	}

	.sec03_box{
		width: 100%;
		padding-top: 5%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.sec03_box_left{
		display: flex;
		width: 90%;
		justify-content: space-between;
		margin: 0 auto;
	}

	.sec03_box_right{
		display: flex;
		width: 90%;
		justify-content: space-between;
		margin: 0 auto;
		padding-top: 10%;
	}

		.sec03_box1{
			padding: 0;
			margin: 0;
			width: 45%;
			height: 360px;
			margin-right: auto;
			transition: all 1s;
			padding-bottom: 5%;
		}

			.sec03_box1>h3{
				font-size: 1em;
			}

			.sec03_box1:hover .box1_darkness>p{
				top: 20%;
				color: #fff;
				line-height: 30px;
			}

		.sec03_box2{
			margin: 0;
			padding: 0;
			width: 45%;
			height: 360px;
			margin-right: auto;
			padding-bottom: 5%;
		}

			.sec03_box2>h3{
				font-size: 1em;
			}

			.sec03_box2:hover .box2_darkness>p{
				top: 10%;
				color: #fff;
				line-height: 22px;
			}

		.sec03_box3{
			margin: 0;
			padding: 0;
			width: 45%;
			height: 360px;
			margin-right: auto;
			padding-bottom: 5%;
		}

			.sec03_box3>h3{
				font-size: 1em;
			}

			.sec03_box3:hover .box3_darkness>p{
				top: 15%;
				color: #fff;
				line-height: 22px;
			}

		.sec03_box4{
			margin: 0;
			padding: 0;
			width: 45%;
			height: 360px;
			margin-right: auto;
			padding-bottom: 5%;
		}

			.sec03_box4>h3{
				font-size: 1em;
			}

			.sec03_box4:hover .box4_darkness>p{
				top: 10%;
				color: #fff;
				line-height: 20px;
			}

/* section04 */

.exhibit-performance{
	flex-direction: column;
	width: 100%;
}

	.exhibit-performance_left{
		display: flex;
		flex-direction: row;
		margin: 0 auto;
	}

	.exhibit{
		width: 100%;
	}

	.exhibit-performance_right{
		width: 100%;
	}

	.exhibit_contents{
		flex-direction: column;
	}
}

/* section04 */

.exhibit-performance{
	padding-top: 0;
	height: auto;
}

.exhibit-performance_left{
	height: 60vh;
}

.exhibit{
	width: 30%;
	height: 70%;
}

.performance{
	width: 30%;
	height: 70%;
}

.snip1585:hover>h3{
	margin-top: 35%;
	margin-left: 20%;
	font-size: 1.5em;
	}

	.exhibit_contents{
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: 0 auto;
	}

	.exhibit_photo{
		width: 100%;
	}

	.exhibit_photo img{
		width: 100%;
	}

	.exhibit_txt{
		width: 100%;
		margin-top: 5%;
		margin-left: 5%;
	}

	.exhibit_txt p{
		line-height: 20px;
		padding-top: 10px;
	}	

/* section05 */

.map{
	flex-direction: column;
	width: 100%;
}

	.map_navi{
		width: 100%;
		margin: 0;	
	}

		#map{
			width: 100%;
			height: 400px;
		}

	.map_txt{
		width: 90%;
		margin: 0 auto;
		padding: 50px 0;
		font-size: 0.9em;
	}
}