@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.clearfix{clear: both;}

.section01{
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.sec01_mainimg{
    width: 100%;
    height: 80vh;
    background: url(../images/kia-01.webp);
    background-position: 50% 65%;
    background-size: auto;
}

.sec01_mainbg{
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.sec01_title{
    font-size: 17pt;
}

.sec01_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    font-size: 3.5rem;
}

.sec01_title p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 4em;
    letter-spacing: 8px;
}

.sec01_title p:last-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    font-size: 1em;
    letter-spacing: 1.1px;
    margin-top: -25px;
}

.kar-icon{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_bg{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50px;
    animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade{
    0%{
        opacity:0;
        transform:scale(2);
    }
    50%{
        opacity:1;
        transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(2);
    }
}

.kar-icon>img{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 55;
    top: -60%;
    left: 36%;
}

.sec01_maintxt{
    color: #fff;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

.maintxt1{
    display: block;
}

.maintxt2, .maintxt3, .maintxt4, .maintxt5{
    display: none;
}

.sec01-right{margin: 0; padding: 0;}

/* section01 end */
.section02-1_bg{
    background-color: #fff;
}

.section02-2_bg{
    background: rgb(200,200,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(200,200,200,1) 1%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 1%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(200,200,200,1) 1%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* sec02-info */

.main-info img{
    margin: 30px 0;
}

.main-info h1{
    margin-top: -5px;
    padding-bottom: 10px;
    font-size: 20pt;
    font-weight: 700;
}

.info-1, .info-2, .info-3, .info-4{
    border: 1px solid #c8c8c8;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 93%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    margin: 0;
    padding: 0;
}

/* sec02-tab-car img */
.tab-car-color-choice{padding-bottom: 40px;}

.tab-car-img{margin-top: -50px; padding-bottom: -10px;}

.tab-car-img img{width: 100%;}

#ABT, #SWP, #KLG{display: none;}

/* sec02-tab-car txt */

.tab-car-color>ul>li{
    list-style: none;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.tab-car-color>ul{display: flex;}

.tab-car-color-text>li{
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
}

.tab-car-color-text h4{
    font-size: 20pt;
    margin-top: 30px;
    text-align: center;
}

.color-2, .color-3, .color-4{display: none;}

.ABP{background-color: #18171a;}

.ABT{background-color: #3f4147;}

.SWP{background-color: #f5f7f5;}

.KLG{background-color: #626264;}

.sec02-logo>img{
    width: 20%;
    padding-top: 5%;
}
/* section02 end */


