@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.clearfix{clear: both;}

.section01{
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.sec01_mainimg{
    width: 100%;
    height: 80vh;
    background: url(../images/kia-01.webp);
    background-position: 50% 65%;
    background-size: auto;
}

.sec01_mainbg{
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.sec01_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    font-size: 2.3em;
}

.sec01_title p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
}

.sec01_title p:last-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    font-size: 1.5em;
    letter-spacing: -1.5px;
    margin-top: -20px;
}

.kar-icon{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.icon_bg{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50px;
    animation: fade 1.5s ease-in-out infinite;
    position: relative;
    z-index: 1;
}

@keyframes fade{
    0%{
        opacity:0;
        transform:scale(2);
    }
    50%{
        opacity:1;
        transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(2);
    }
}

.kar-icon>img{
    width: 90px;
    position: absolute;
    top: 22%;
    left: 35%;
    z-index: 10;
}

.sec01_maintxt{
    color: #fff;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.maintxt1{
    display: block;
}

.sec01-right{margin: 0; padding: 0;}

/* section01 end------------------------------------------------------- */
.section02-1_bg{
    background-color: #fff;
}

.section02-2_bg{
    background: rgb(200,200,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(200,200,200,1) 1%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 1%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(200,200,200,1) 1%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* sec02-info */

.main-info img{
    margin: 30px 0;
}

.main-info h1{
    margin-top: -5px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.info-1, .info-2, .info-3, .info-4{
    border: 1px solid #c8c8c8;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 93%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    margin: 0;
    padding: 0;
}

/* sec02-tab-car img */
.tab-car-color-choice{padding-bottom: 40px;}

.sec02-logo>img{width: 20%; padding-top: 5%;}

.tab-car-img{margin-top: -2%; padding-bottom: 5%;}

.tab-car-img img{width: 100%;}

#ABT, #SWP, #KLG{display: none;}

/* sec02-tab-car txt */

.tab-car-color>ul>li{
    list-style: none;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.tab-car-color>ul{display: flex;}

.tab-car-color-text>li{
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: right;
}

.tab-car-color-text h4{
    font-size: 2em;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.color-2, .color-3, .color-4{display: none;}

.ABP{background-color: #18171a;}

.ABT{background-color: #3f4147;}

.SWP{background-color: #f5f7f5;}

.KLG{background-color: #626264;}

/* section02 end------------------------------------------------------- */

.sec03-bg{
    width: 100%;
    height: 70vh;
    background: url(../images/sec03-bg.jpg);
    background-position: 80% 43%;
    background-size: cover;
    background-attachment: fixed;
}

.sec03-title{margin-top: 5%;}
.sec03-title>h2{font-size: 2em; color: #fff;}
.sec03-title>h2>strong{color: rgb(202, 25, 25);}

.sec03-title>h1{font-size: 5em; font-weight: 700; color: #fff;
border-top: 6px solid rgb(202, 25, 25); width: 50px;}

/* sec03-bottom */

.sec03-bottom-contents{
    width: 100%;
    margin: 0 auto;
}
.sec03-bottom-con{
    padding: 0;
    margin: 0 auto;
    display: flex; justify-content: space-between;
}

.sec03-bottom-con-1>img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.sec03-bottom-con-1{
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 50;
    overflow: hidden;
    cursor: pointer;
}

.sec03-bottom-con1>img{
    width: 100%;
    overflow: hidden;
}

.sec03-bottom{margin: 0; padding: 0; width: 100%;}

.sec03-con-txt p{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 60;
}

.sec03-con-icon{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 70;
}

.sec03-con-icon>p{
    font-size: 3em;
    color: rgba(255,255,255,1);
    margin-left: 12px;
    line-height: 50px;
}

.sec03-01-modal1{
    width: 70%;
    margin: 0 auto;
}

.modal-txt{
    display: flex;
    flex-direction: column;
}

.modal-txt img{
    width: 100%;
}

.modal-txt>h3{
    margin: 2%;
    font-weight: 700;
}

.modal-txt>p{
    margin: 2%;
}

.modal-txt>button{
    width: 100px;
    margin: 2%;
}

/* section03 end------------------------------------------------------- */

.section04{overflow: hidden;}

.sec04-bg{
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* sec04-title */
.sec04-title{
    width: 100%;
    height: 20vh;
}

.sec04-title>h1{
    margin-top: 7%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1%;
}

.sec04-border{
    border-bottom: 5px solid rgb(202, 25, 25);
    width: 100px;
    margin: 0 auto;
}

.sec04-title>h4{
    font-weight: 700;
    margin-top: 1%;
    
}

/* sec04-왼쪽 메뉴 */
.sec04-outside-choice{
    background-color: lightseagreen;
    cursor: pointer;
    height: 50vh;
    padding-top: 2%;
}

.sec04-outside-choice img{
    width: 30%;
    border-radius: 50px;
    margin-top: 10%;
}

.sec04-outside-choice img:hover{
    width: 30%;
    border: 3px solid rgb(202, 25, 25);
    border-radius: 50px;
    transition: 0.5s;
}

/* sec04-center image */
.sec04-outside-bg{
    padding: 0;
}

.sec04-outside{
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    overflow: hidden;
    position: relative;
    z-index: 30;
}

.mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
    width: 100%;
    height: 50%;
    height: 50vh;
    overflow: hidden;
}

.mohave-outside-01{
    display: block;
}

.mohave-outside-02{
    display: none;
}

.mohave-outside-03{
    display: none;
}

.mohave-outside-01>img{
    width: 150%;
    text-align: center;
    position: relative;
    left: -25%;
    top: -30%;
}

.mohave-outside-02>img{
    width: 130%;
    text-align: center;
    position: relative;
    left: -17%;
    top: -15%;
}

.mohave-outside-03>img{
    width: 160%;
    text-align: center;
    position: relative;
    left: -30%;
    top: -35%;
}

/* section04 오른쪽 내용 */

.sec04-outdesign{
    padding: 0;
    height: 50vh;
    overflow: hidden;
    background-color: rgb(82, 110, 128);
}

.sec04-outdesig-top{
    display: flex;
    align-items: flex-start;
}

.sec04-outdesig-bottom{
    margin-top: 0.75%;
    display: flex;
    align-items: flex-start;
}


.mohave-outdesign{
    padding: 0;
    width: 33%;
    overflow: hidden;
    cursor: pointer;
}

.mohave-outdesign img{
    width: 120%;
}

.mohave-outdesign h3{
    font-size: 1.3em;
    position: absolute;
    top: -50px;
    left: 7%;
}

.mohave-outdesign:hover h3{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 7%;
    color: #fff;
    transition: linear 0.3s;
}

.mohave-outdesign:hover .outdesign-darkness{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 89;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s;
}

/* section04 modal */

.sec04-modal img{
    width: 100%;
}

.sec04-modal-body{
    padding: 0;
    margin: 0;
}

.sec04-modal h4{
    font-weight: 700;
}

/* section04 end------------------------------------------------------- */

.section05{overflow: hidden;}

.sec05-bg{
    padding: 0;
    padding-bottom: 5%;
}

/* sec05-title */
.sec05-title{
    width: 100%;
    height: 20vh;
}

.sec05-title>h1{
    font-weight: 700;
    text-align: center;
    margin-bottom: 1%;
}

.sec05-border{
    border-bottom: 5px solid rgb(202, 25, 25);
    width: 100px;
    margin: 0 auto;
}

.sec05-title>h4{
    font-weight: 700;
    margin-top: 1%;
}

/* sec05-왼쪽 내용 */

.sec05-inside{
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 30;
}

.mohave-sec05-inside{
    width: 100%;
    height: 57.5vh;
    overflow: hidden;
}

.mohave-sec05-inside>img{
    width: 140%;
    text-align: center;
    position: relative;
    left: -25%;
    top: -35%;
}

/* section04 오른쪽 내용 */

.sec04-indesign{
    padding-right: 0;
}

.mohave-indesign-fluid{
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mohave-indesign{
    padding: 0;
    width: 33%;
    /* height: 25vh; */
    overflow: hidden;
    cursor: pointer;
}

.mohave-indesign img{
    width: 120%;
}

.mohave-indesign h3{
    position: absolute;
    top: -80px;
    left: 7%;
}

.mohave-indesign:hover h3{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 7%;
    color: #fff;
    transition: linear 0.3s;
}

.mohave-indesign:hover .indesign-darkness{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 89;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s;
}

/* section05 modal */

.sec05-modal img{
    width: 100%;
}

.sec05-modal-body{
    padding: 0;
    margin: 0;
}

.sec05-modal h4{
    font-weight: 700;
}

.sec05-modal p{
    margin-top: 15px;
}


@media(max-width: 1200px){
    
}

@media(max-width: 990px){
    .kar-icon>img{
        top: 20%;
        left: 22%;
    }

    .sec03-bottom-con-1{
        width: 100%;
    }
}

@media(max-width: 767px){
    .kar-icon>img{
        top: -12%;
        left: 44%;
    }

    .sec01_title{
        font-size: 0.9em;
    }

    .main_info{
        width: 300px;
    }

    .tab-car-color{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 576px){
    .sec01_title{
        font-size: 0.8em;
    }

    .kar-icon>img{
        top: -13%;
        left: 40%;
    }
    
}