@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.clearfix{clear: both;}

#fullpage{
    position: none;
}

.section01{
    position: relative;
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.sec01_mainimg{
    width: 100%;
    height: 80vh;
    background: url(../images/kia-01.webp);
    background-position: 50% 65%;
    background-size: auto;
}

.sec01_mainbg{
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    width: 100%;
    height: 80vh;
    z-index: 1;
}

.sec01_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    font-size: 2.3em;
}

.sec01_title p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 5em;
    letter-spacing: 8px;
}

.sec01_title p:last-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c8c8c8;
    font-size: 1.5em;
    letter-spacing: -1.5px;
    margin-top: -20px;
}

.kar-icon{
    position: relative;
    margin-left: 8%;
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
}

.icon_bg{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50px;
    animation: fade 1.5s ease-in-out infinite;
    position: relative;
    z-index: 1;
}

@keyframes fade{
    0%{
        opacity:0;
        transform:scale(2);
    }
    50%{
        opacity:1;
        transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(2);
    }
}

.kar-icon>img{
    width: 90px;
    position: absolute;
    top: -60%;
    left: -1.5%;
    z-index: 10;
}

.sec01_maintxt{
    color: #fff;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.maintxt1{
    display: block;
}

/* section01 end------------------------------------------------------- */

.section02-1_bg{
    background-color: #fff;
}

.section02-2_bg{
    background: rgb(200,200,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(200,200,200,1) 1%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 1%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(200,200,200,1) 1%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* sec02-info */

.section02{
    position: relative;
    height: 100%;
}

.main-info img{
    margin: 30px 0;
}

.main-info h1{
    margin-top: -5px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.info-1, .info-2, .info-3, .info-4{
    border: 1px solid #c8c8c8;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 93%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    margin: 0;
    padding: 0;
}

/* sec02-tab-car img */
.tab-car-color-choice{padding-bottom: 15%;}

.sec02-logo>img{width: 30%; padding-top: 5%;}

.tab-car-img{margin-top: 1%; padding-bottom: 5%;}

.tab-car-img img{width: 90%;}

#ABT, #SWP, #KLG{display: none;}

/* sec02-tab-car txt */

.tab-car-color>ul>li{
    list-style: none;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.tab-car-color>ul{display: flex;}

.tab-car-color-text>li{
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: right;
}

.tab-car-color-text h4{
    font-size: 2em;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.color-2, .color-3, .color-4{display: none;}

.ABP{background-color: #18171a;}

.ABT{background-color: #3f4147;}

.SWP{background-color: #f5f7f5;}

.KLG{background-color: #626264;}

/* section02 end------------------------------------------------------- */

.section03{position: relative; height: 100%;}

.sec03-bg-padding{padding: 0;}
.sec03-padding{padding: 0;}

.modal{
    position: absolute;
    top: 0%;
    left: 13%;
}

.modal-backdrop{
    position: absolute !important;
    background-color: rgba(0,0,0,0.9);
}

.sec03-bg{
    width: 100%;
    height: 70vh;
    background: url(../images/sec03-bg.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.sec03-title{
    margin: 2% auto;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 0.5%;
}

.sec03-title-txt{
    width: 100%;
    margin-left: 10%;
}
.sec03-title-txt>h2{font-size: 2em; color: #fff; padding-top: 2%;}
.sec03-title-txt>h2>strong{color: rgb(202, 25, 25);}

.sec03-title-txt>h1{font-size: 5em; font-weight: 700; color: #fff;}

.sec03-title-boder{
    border-top: 6px solid rgb(202, 25, 25); width: 50px;
}

/* sec03-bottom */

.sec03-bottom{padding: 0;}

.sec03-bottom-contents{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.sec03-bottom-con{
    padding: 0;
    margin: 0 auto;
    display: flex; justify-content: space-between;
}

.sec03-bottom-con-1>img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.sec03-bottom-con-1{
    padding: 0;
    width: 100%;
    height: 30vh;
    z-index: 50;
    overflow: hidden;
    cursor: pointer;
}

.sec03-bottom-con1>img{
    width: 100%;
    overflow: hidden;
}

.sec03-bottom{margin: 0; padding: 0; width: 100%;}

.sec03-con-txt p{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 60;
}

.sec03-con-icon{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 70;
}

.sec03-con-icon>p{
    font-size: 3em;
    color: rgba(255,255,255,1);
    margin-left: 12px;
    line-height: 50px;
}

.sec03-01-modal1{
    width: 70%;
    margin: 0 auto;
}

.modal-txt{
    display: flex;
    flex-direction: column;
}

.modal-txt img{
    width: 100%;
}

.modal-txt>h3{
    margin: 2%;
    font-weight: 700;
}

.modal-txt>p{
    margin: 2%;
}

.modal-txt>button{
    width: 100px;
    margin: 2%;
}

/* section03 end------------------------------------------------------- */

.section04{overflow: hidden; width: 100%; height: 100%; position: relative;}

.sec04-bg{
    padding: 0;
    width: 100%;
}

/* sec04-title */
.sec04-title{
    width: 100%;
    height: 20vh;
}

.sec04-title>h1{
    margin-top: 7%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1%;
}

.sec04-border{
    border-bottom: 5px solid rgb(202, 25, 25);
    width: 100px;
    margin: 0 auto;
}

.sec04-title>h4{
    font-weight: 700;
    margin-top: 1%;
}

/* sec04-왼쪽 메뉴 */

.sec04-outside-choice{
    cursor: pointer;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec04-outside-choice img{
    width: 100%;
    border-radius: 50px;
    margin-top: 50%;
}

.sec04-outside-choice img:hover{
    width: 100%;
    border: 3px solid rgb(202, 25, 25);
    border-radius: 50px;
    transition: 0.5s;
}

/* sec04-center image */
.sec04-outside-bg{
    padding: 0;
}

.sec04-outside{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 30;
}

.mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
    width: 100%;
    height: 30vw;
    overflow: hidden;
}

.mohave-outside-01{
    display: block;
}

.mohave-outside-02{
    display: none;
}

.mohave-outside-03{
    display: none;
}

.mohave-outside-01>img{
    width: 150%;
    text-align: center;
    position: relative;
    left: -25%;
    top: -23%;
}

.mohave-outside-02>img{
    width: 130%;
    text-align: center;
    position: relative;
    left: -17%;
    top: -15%;
}

.mohave-outside-03>img{
    width: 160%;
    text-align: center;
    position: relative;
    left: -30%;
    top: -30%;
}

/* section04 오른쪽 내용 */

.sec04-outdesign{
    padding: 0;
    height: 30vw;
    overflow: hidden;
}

.sec04-outdesig-top{
    display: flex;
    height: 15vw;
}

.sec04-outdesig-bottom{
    display: flex;
    height: 15vw;
}

.mohave-outdesign{
    height: 15vw;
    padding: 0;
    width: 33%;
    overflow: hidden;
    cursor: pointer;
}

.mohave-outdesign img{
    width: 150%;
}

.mohave-outdesign h3{
    font-size: 1.3em;
    position: absolute;
    top: -50px;
    left: 7%;
}

.mohave-outdesign:hover h3{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 7%;
    color: #fff;
    transition: linear 0.3s;
}

.mohave-outdesign:hover .outdesign-darkness{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 89;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s;
}

/* section04 modal */

.sec04-modal img{
    width: 100%;
}

.sec04-modal-body{
    padding: 0;
    margin: 0;
}

.sec04-modal h4{
    font-weight: 700;
}

/* section04 end------------------------------------------------------- */

.section05{overflow: hidden; position: relative; height: 100%;}

.sec05-bg{
    padding: 0;
    width: 100%;
}

/* sec05-title */
.sec05-title{
    width: 100%;
    height: 30vh;
}

.sec05-title>h1{
    margin-top: 7%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1%;
}

.sec05-border{
    border-bottom: 5px solid rgb(202, 25, 25);
    width: 100px;
    margin: 0 auto;
}

.sec05-title>h4{
    font-weight: 700;
    margin-top: 1%;
}

/* sec05-왼쪽 내용 */

.sec05-inside{
    height: 30vw;
    padding: 0;
    overflow: hidden;
}

.mohave-sec05-inside{
    width: 100%;
    overflow: hidden;
}

.mohave-sec05-inside>img{
    width: 140%;
    position: relative;
    left: -25%;
    top: -150px;
}

/* section05 오른쪽 내용 */

.sec05-indesign{
    width: 50%;
    padding: 0;
    overflow: hidden;
}

.mohave-indesign-fluid{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 15vw;
    display: flex;
}

.mohave-indesign{
    padding: 0;
    width: 33.3%;
    overflow: hidden;
    cursor: pointer;
}

.mohave-indesign img{
    width: 120%;
}

.mohave-indesign-bottom{
    display: flex;
}

.mohave-indesign h3{
    font-size: 1.3em;
    position: absolute;
    top: -80px;
    left: 7%;
}

.mohave-indesign:hover h3{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 7%;
    color: #fff;
    transition: linear 0.3s;
}

.mohave-indesign:hover .indesign-darkness{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 89;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s;
}

/* section05 modal */

.sec05-modal img{
    width: 100%;
}

.sec05-modal-body{
    padding: 0;
    margin: 0;
}

.sec05-modal h4{
    font-weight: 700;
}

.sec05-modal p{
    margin-top: 15px;
}


/* section06----------------------------------------------------------- */

.section06-container {position: relative;}
.sec06-title{
    padding: 6% 0;
}
.sec06-title>h1{font-weight: 700;}
.sec06-border{
    border-bottom: 5px solid rgb(202, 25, 25);
    width: 100px;
    margin: 0 auto;
}
  
/* section06-tab */
.tablink {
background-color: #000;
color: white;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-size: 17px;
width: 33.33%;
}
  
.tablink:hover {
background-color: rgba(202, 25, 25,0.7);
transition: all 0.5s;
}
  
/* section06-content */
.tabcontent {
    width: 100%;
    display: none;
    padding: 0;
    overflow: hidden;
}
  
#Performance {background-color: white;}
#Convenience {background-color: white;}
#Space {background-color: white;}


/* section06-slide */
.mySlides1-1{
    display: block;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.mySlides1-2, .mySlides1-3, .mySlides1-4, .mySlides1-5{
    display: none;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.per-con img, .conv-con img, .space img{
    width: 100%;
}
.per-con{position: relative;}

    /* 퍼포먼스-1 */
    .per-img-1{
        position: relative;
        top: -33%;
        left: 0;
    }

    .per-txt-1{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .per-txt-border{width: 3%; border-bottom: 3px solid rgb(202, 25, 25); margin-left: 5%; margin-top: 1.5%; }
    .per-txt-1>h4{margin-left: 5%; margin-top: 1.5%; font-weight: 700;}
    .per-txt-1>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}
    .per-txt-1>h3{margin-left: 5%; font-size: 1em;}

    /* 퍼포먼스-2 */
    .per-img-2{
        position: relative;
        top: -25%;
        left: 0;
    }

    .per-txt-2{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
    }

    .per-txt-2>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    /* 퍼포먼스-3 */
    .per-img-3{
        position: relative;
        top: -45%;
        left: 0;
    }

    .per-txt-3{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
    }

    .per-txt-3>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    /* 퍼포먼스-4 */
    .per-img-4{
        position: relative;
        top: -70%;
        left: 0;
    }

    .per-txt-4{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .per-txt-4>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}
    .per-txt-4>p{margin-left: 5%;}

    /* 퍼포먼스-5 */
    .per-img-5{
        position: relative;
        top: -70%;
        left: 0;
    }

    .per-txt-5{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .per-txt-5>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}
    .per-txt-5>p{margin-left: 5%;}

    /* 퍼포먼스 썸네일 */
    .pside {
        opacity: 0.6;
      }
      
      .active,
      .pside:hover {
        opacity: 1;
        transition: all 0.5s;
      }

/* 편의성 ------ */
.conv-con{position: relative;}
.mySlides2-1{
    display: block;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.mySlides2-2, .mySlides2-3, .mySlides2-4, .mySlides2-5, .mySlides2-6, .mySlides2-7{
    display: none;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

    /* 편의성-1 */
    .conv-img-1{
        position: relative;
        top: -30%;
        left: 0;
    }

    .conv-txt-1{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .conv-txt-border{width: 3%; border-bottom: 3px solid rgb(202, 25, 25); margin-left: 5%; margin-top: 1.5%; }
    .conv-txt-1>h4{margin-left: 5%; margin-top: 1.5%; font-weight: 700;}
    .conv-txt-1>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}
    .conv-txt-1>h3{margin-left: 5%; font-size: 1em;}

    /* 편의성-2 */
    .conv-img-2{
        position: relative;
        top: -45%;
        left: 0;
    }

    .conv-txt-2{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }
    
    .conv-txt-2>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    .conv-txt-2>p{margin-left: 5%;}

    /* 편의성-3 */
    .conv-img-3{
        position: relative;
        top: -45%;
        left: 0;
    }

    .conv-txt-3{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }
    
    .conv-txt-3>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    .conv-txt-3>p{margin-left: 5%;}

    /* 편의성-4 */
    .conv-img-4{
        position: relative;
        top: -45%;
        left: 0;
    }

    .conv-txt-4{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }
    
    .conv-txt-4>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    .conv-txt-4>p{margin-left: 5%;}

    /* 편의성-5 */
    .conv-img-5{
        position: relative;
        top: -25%;
        left: 0;
    }

    .conv-txt-5{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }
    
    .conv-txt-5>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    .conv-txt-5>p{margin-left: 5%;}

    /* 편의성-6 */
    .conv-img-6{
        position: relative;
        top: -59%;
        left: 0;
    }

    .conv-txt-6{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }
    
    .conv-txt-6>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    .conv-txt-6>p{margin-left: 5%;}

    /* 편의성-7 */
    .conv-img-7{
        position: relative;
        top: -40%;
        left: 0;
    }

    .conv-txt-7{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }
    
    .conv-txt-7>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    .conv-txt-7>p{margin-left: 5%;}

/* 공간 ------ */
.space-con{position: relative;}
.mySlides3-1{
    display: block;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

.mySlides3-2, .mySlides3-3, .mySlides3-4{
    display: none;
    width: 100%;
    height: 45vh;
    overflow: hidden;
}

    /* 공간-1 */
    .space-img-1{
        position: relative;
        top: -38%;
        left: 0;
    }

    .space-txt-1{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .space-txt-border{width: 3%; border-bottom: 3px solid rgb(202, 25, 25); margin-left: 5%; margin-top: 1.5%; }
    .space-txt-1>h4{margin-left: 5%; margin-top: 1.5%; font-weight: 700;}
    .space-txt-1>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    /* 공간-2 */
    .space-img-2{
        position: relative;
        top: -10%;
        left: 0;
    }

    .space-txt-2{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .space-txt-2>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}

    /* 공간-3 */
    .space-img-3{
        position: relative;
        top: -47%;
        left: 0;
    }

    .space-txt-3{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .space-txt-3>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}
    .space-txt-3>p{margin-left: 5%;}

    /* 공간-4 */
    .space-img-4{
        position: relative;
        top: -85%;
        left: 0;
    }

    .space-txt-4{
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
    }

    .space-txt-4>h1{margin-left: 5%; font-size: 2.5em; font-weight: 700;}
    .space-txt-4>p{margin-left: 5%;}

  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Container for image text */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column-p{
    float: left;
    width: 20%;
  }

  .column-c{
    float: left;
    width: 14.2%;
  }
  
  .column-s{
    float: left;
    width: 20%;
  }

  .cside {
    opacity: 0.6;
  }
  
  .active,
  .cside:hover {
    opacity: 1;
    transition: all 0.5s;
  }

/* section07------------------------------------------------------- */

/* section07------------------------------------------- */

.section07{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../video/mohave-30.gif);
    background-size: cover;
}

  .sec07-video-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
  }
  
  .sec07-title-bg{padding: 0; margin: 0;}
  .sec07-title {
    background: rgba(0, 0, 0, 1);
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    height: 20%;
    z-index: 150;
  }

  .sec07-con{
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto;
  }

  .sec07-title h1{font-weight: 700;}

  .sec07-con-detail{
      padding: 0;
      display: flex;
      justify-content: space-around;
      margin-top: 10%;
  }

  .sec07-con-1, .sec07-con-2, .sec07-con-3, .sec07-con-4{
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    width: auto;
    height:0;
    transition: .5s ease;
  }
  
  .sec07-con-1:hover .overlay {
    bottom: 0;
    height: 100%;
    margin: 0 auto;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
