@media(max-width: 1200px){

    /* section01 */
    .kar-icon{margin-left: 50%; margin-top: 30%;}
    .kar-icon>img{left: -4%}
    .sec01_title{text-align: center; margin-top: -5%;}
    .sec01_title h1{font-size: 1.5em;}
    .sec01_title p{font-size: 4.5em;}
    .sec01_title p:last-child{font-size: 1.4em;}

    /* section02 */
    .sec02-logo{margin-top: 2%;}
    .sec02-logo>img{width: 20%; margin-top: 0;}
    .tab-car-img{margin-top: 0; padding-bottom: 0;}
    .tab-car-img img{width: 70%;}
    .tab-car-color>ul{display: flex; justify-content: flex-start; margin-top: 0;}
    .tab-car-color>ul>li{
        width: 30px;
        height: 30px;
        margin: 25px 10px;
    }
    .tab-car-color-text h4{
        font-size: 1.5em;
        text-align: right;
        margin-right: 15%;
    }

    /* section03 */
    .sec03-bottom-con-1{width: 100%;}
    .sec03-title-txt>h2{font-size: 1.3em;}
    .sec03-title-txt>h1{font-size: 4em;}
    .sec03-title-boder{
    border-top: 4px solid rgb(202, 25, 25);}

    /* section04 */
    /* sec04-title */
    .sec04-title{
        height: 10vw;
        margin-top: 5%;
        margin-bottom: 1%;
    }

    .sec04-title>h1{
        font-size: 2em;
        margin-top: 1%;
    }

    .sec04-title>h4{
        font-size: 1em;
        margin-top: 1%;        
    }

    /* section04 왼쪽메뉴 */
    .sec04-outside-choice{
        height: 30vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .sec04-outside-choice img{
        width: 80%;
        margin-bottom: 30%;
        margin-top: 0;
    }
    
    .sec04-outside-choice img:hover{
        width: 80%;
    }

    /* sec04-center image */
    .sec04-outside-bg{
        height: 30vw;
    }

    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 30vw;
        overflow: hidden;
    }

    .mohave-outside-01>img{
        width: 150%;
        left: -25%;
        top: -15%;
    }

    .mohave-outside-02>img{
        width: 120%;
        left: -11%;
        top: -5%;
    }

    .mohave-outside-03>img{
        width: 150%;
        left: -23%;
        top: -16%;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        height: 30vw;
        padding: 0;
    }
    
    .sec04-outdesig-top{
        height: 15vw;
    }

    .sec04-outdesig-bottom{
        height: 15vw;
    }

    .mohave-outdesign{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 30vw;
    }
    
    .mohave-outdesign img{
        width: 170%;
    }
    
    .mohave-outdesign h3{
        top: -70px;
    }
    
    .mohave-outdesign:hover h3{
        top: 5%;
    }

    /* section05--------------------------------- */
    /* sec05-title */
    .sec05-title{
        height: 10vw;
        margin-top: 5%;
        margin-bottom: 1%;
    }

    .sec05-title>h1{
        font-size: 2em;
        margin-top: 1%;
    }

    .sec05-title>h4{
        font-size: 1em;
        margin-top: 1%;        
    }

    .sec05-inside{height: 30vw;}
    .sec05-indesign{height: 30vw; width: 100%;}
    .sec05-indesign img{width: 100%}
    .mohave-indesign-top{height: 15vw;}
    .mohave-indesign-bottom{height: 15vw;}

    /* section06 */

    .sec06-title{
        padding: 5% 0;
    }

    /* 퍼포먼스 */
        .per-img-1{
            top: -35%;
            left: 0;
        }

        .per-img-3{
            top: -55%;
            left: 0;
        }

        .per-img-4{
            top: -95%;
            left: 0;
        }

        .per-img-5{
            top: -0%;
            left: 0;
        }

    /* 편의성 */

        .conv-img-1{
            top: -35%;
            left: 0;
        }
        .conv-img-2{
            top: -55%;
            left: 0;
        }

        .conv-img-3{
            top: -55%;
            left: 0;
        }

        .conv-img-4{
            top: -55%;
            left: 0;
        }

        .conv-img-5{
            top: -20%;
            left: 0;
        }

        .conv-img-6{
            top: -30%;
            left: 0;
        }
        
        .conv-img-7{
            top: -45%;
            left: 0;
        }
    /* 공간 */
    .space-img-1{
        top: -35%;
    }

    .space-img-2{
        top: -20%;
    }

    .space-img-3{
        top: -90%;
    }
}

@media(max-width: 990px){

    /* section01 */
    .kar-icon{margin-top: 55%;}
    .kar-icon>img{left: -4%}
    .sec01_title{text-align: center; margin-top: -5%;}

    /* section02 */

    .sec02-logo>img{
        width: 30%;
        padding-top: 10%;
    }

    .tab-car-img img{width:100%; margin-top: 5%;}
    .tab-car-color-text{margin-top: 15%; padding: 0;}
    .tab-car-color-text h4{margin: 0; font-size: 2em; text-align: center; margin-top: 5%;}
    .tab-car-color>ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin: 0;
        padding: 0;
    }

    /* section03 */
    .sec03-title{text-align: center;}
    .sec03-title-txt{margin: 0;}
    .sec03-title-boder{margin: 0 auto;}
    .sec03-title-txt>h2{font-size: 1em;}
    .sec03-title-txt>h1{font-size: 3em;}

    .sec03-bg{
        background-position: 55% -128px;
    }

    .sec03-bottom-con-1{height: 20vw;}
    .sec03-con-txt p{font-size: 1em;}
    .sec03-con-icon{width: 30px; height: 30px;}
    .sec03-con-icon>p{margin-left: 7px; line-height: 30px;}

    /* section04 */
    /* sec04-title */
    .sec04-title{
        height: 15vh;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    /* sec04-왼쪽 메뉴 */
    .sec04-outside-choice{
        width: 100%;
        height: 15vw;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    /* sec04-center image */

    .sec04-outside-bg{width: 100%; height: 35vh; margin: 0;}
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 35vh; width: 100%;
    }
    
    .mohave-outside-01>img{
        width: 130%;
        left: -14%;
        top: -35%;
    }

    .mohave-outside-02>img{
        width: 110%;
        left: -8%;
        top: -21%;
    }

    .mohave-outside-03>img{
        width: 130%;
        left: -15%;
        top: -35%;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        width: 100%;
        height: 35vh;
    }

    .sec04-outdesign img{
        width: 110%;
    }

    .sec04-outdesig-top{
        height: 17.5vh;
    }

    .sec04-outdesig-bottom{
        height: 17.5vh;
    }

    /* section05 ------------------------------------- */
    .sec05-title{
        height: 15vh;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .sec05-inside{
        height: 40vh;
    }
    .sec05-indesign{height: 30vh;}
    .mohave-indesign{height: 30vh;}

    .mohave-indesign-top{
        height: 15vh;
    }

    .mohave-indesign-bottom{
        height: 15vh;
    }

    /* section06 */

    .sec06-title{
        padding: 6% 0;
    }

    .sec06-title>h1{
        font-size: 2em;
    }

    .per-con, .conv-con, .space-con{
        height: 40vh;
    }

    /* 퍼포먼스 */
        .per-img-1{
            top: 0;
            left: 0;
        }

        .per-img-3{
            top: -10%;
            left: 0;
        }

        .per-img-4{
            top: -25%;
            left: 0;
        }

    /* 편의성 */

    .conv-img-1{top: 0;}
    .conv-img-2{top: -10%;}
    .conv-img-3{top: -10%;}
    .conv-img-4{top: -10%;}
    .conv-img-5{top: -20%;}
    .conv-img-6{top: -25%;}
    .conv-img-7{top: -20%;}
    /* 공간 */
    .space-img-1{top: 0;}
    .space-img-2{top: 0;}
    .space-img-3{top: 0;}
    .space-img-4{top: 0;}
}

@media(max-width: 768px){

    /* section01 */
    .sec01_title{margin-top: -5%;}
    .sec01_title h1{font-size: 2em;}
    .sec01_title p{font-size: 5em;}
    .sec01_title p:last-child{font-size:1.6em;}

    /* section02 */

    .sec02-logo>img{
        width: 30%;
        padding-top: 10%;
    }

    .tab-car-img img{width:90%; margin-top: 5%;}
    .tab-car-color-text{padding: 0;}
    .tab-car-color-text h4{margin: 0; font-size: 1.7em; text-align: center; margin-top: 5%;}
    .tab-car-color>ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    /* section03 */
    .sec03-title{
        text-align: center;
        height: 20vw;
        display: flex;
        align-items: center;
    }
    .sec03-title-txt{
        display: flex;
        flex-direction: column;
    }
    .sec03-title-txt>h2{font-size: 1.2em; padding: 0;}
    .sec03-title-txt>h1{font-size: 3.5em;}

    .sec03-bg{
        background-position: 60% -144px;
    }

    .sec03-bottom-con-1{height: 20vw;}
    .sec03-con-txt p{font-size: 1.3em;}
    .sec03-con-icon>p{margin-left: 10%; line-height: 30px;}

    /* section04 */
    /* sec04-title */
    .sec04-title{
        width: 100%;
        height: 10vw;
        margin-top: 5%;
    }
    
    .sec04-title>h1{
        font-size: 1.8em;
    }
    
    .sec04-border{
        border-bottom: 3px solid rgb(202, 25, 25);
    }
    
    .sec04-title>h4{
        font-size: 1.1em;
    }
    
    /* sec04-왼쪽 메뉴 */
    .sec04-outside-choice{
        width: 100%;
        height: 15vw;
        margin: 0;
        padding-top: 2%;
    }

    /* sec04-center image */

    .sec04-outside-bg{height: 50vw;}
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 50vw;
    }
    
    .mohave-outside-01>img{
        width: 130%;
        left: -14%;
        top: -35%;
    }

    .mohave-outside-02>img{
        width: 110%;
        left: -8%;
        top: -21%;
    }

    .mohave-outside-03>img{
        width: 130%;
        left: -15%;
        top: -35%;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        height: 56vw;
    }

    .sec04-outdesig-top{
        height: 28vw;
    }

    .sec04-outdesig-bottom{
        height: 28vw;
    }

    .mohave-outdesign{
        height: 28vw;
    }

    /* sec05-title */
    .sec05-title{
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    
    .sec05-title>h1{
        font-size: 1.8em;
    }
    
    .sec05-border{
        border-bottom: 3px solid rgb(202, 25, 25);
        margin: 3% 0;
    }
    
    .sec05-title>h4{
        font-size: 1.1em;
    }

    /* 섹션5 세부사항 */
    .sec05-indesign {
        width: 100%;
        height: 50vw;
    }

    .sec05-inside{
        height: 50vw;
    }

    .mohave-indesign-top{
        height: 25vw;
    }

    .mohave-indesign-bottom{
        height: 25vw;
    }

    /* section06 */
    .sec06-border{
        border-bottom: 3px solid rgb(202, 25, 25);
        margin: 3% auto;
    }
}

@media (max-width: 576px){

    /* section01 */
    .kar-icon>img{left: -12%}
    .sec01_title h1{font-size: 1.5em;}
    .sec01_title p{font-size: 3.5em;}
    .sec01_title p:last-child{font-size:1.2em; margin-top: 2%;}

    /* section02 */
    .main-info-bg{padding: 0;}
    .sec02-logo>img{margin-top: 5%;}
    .tab-car-img img{width: 120%; margin-left:-10%;}
    .tab-car-color-text h4{margin-top: 10%; font-size: 1.3em;}
    .tab-car-color>ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .sec03-bottom-con-1{height: 32vw;}
    .sec03-con-txt>p{font-size: 1em;}


    /* section03 */
    .sec03-bg{
        background-position: 50% -40px;
    }

    .sec03-title{
        margin-top: 10%;
        height: 30vw;
        align-items: center;
    }

    .sec03-title>h2{font-size: 1.5em; color: #fff;}
    .sec03-title>h2>strong{color: rgb(202, 25, 25);}

    .sec03-title>h1{font-size: 4em; font-weight: 700; color: #fff;
    border-top: 5px solid rgb(202, 25, 25); width: 50px;
    }
    .sec03-bottom-con-1 img{
        width: 100%;
    }

    /* section04 */
    /* sec04-title */
    .sec04-bg{height: 100%;}
    .row{margin: 0;}
    .sec04-title{margin: 15% 0;}
    .sec04-title>h1{margin-top: 10%;}
    .sec04-border{margin: 3% 0;}
    .sec04-outside-choice{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    /* sec04-center image */

    .sec04-outside-bg{height: 60vw;}
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 60vw;
    }
    
    .mohave-outside-01>img{
        width: 130%;
        left: -14%;
        top: -22%;
    }

    .mohave-outside-02>img{
        width: 110%;
        left: -8%;
        top: -11%;
    }

    .mohave-outside-03>img{
        width: 130%;
        left: -15%;
        top: -22%;
    }

    .mohave-outdesign img {width: 110%;}

    .sec04-modal{
        top: 5%;
        left: 0;
    }

    .mohave-outdesign h3{
        font-size: 0.9em;
    }

    .mohave-outdesign:hover h3{
        top: 0;
    }

    /* section05*/
    .sec05-title{margin-top: 0;}
    .sec05-inside{height: auto;}
    .mohave-sec05-inside{
        height: 50%;
    }

    .mohave-sec05-inside>img{
        width: 140%;
        top: 0;
    }

    .mohave-indesign{height: 26vw;}

    .mohave-indesign:hover .indesign-darkness{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 89;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        transition: all .5s;
    }

    .mohave-indesign h3{
        font-size: 0.9em;
    }

    /* section06-------------------------------------------------- */
    .sec06-title>h1{font-size: 1.8em;}

    .tablink{
        font-size: 10px;
    }

    .per-con, .conv-con, .space-con{
        height: 100vw;
    }

    .per-con img{width: 190%;}

    .conv-con img{width: 190%;}

    .space-con img{width: 190%;}
    /* Performance */
    .per-txt-1>h4, .per-txt-2>h4, .per-txt-3>h4, .per-txt-4>h4, .per-txt-5>h4{
        font-size: 1px;
    } 

    .per-txt-1>h1, .per-txt-2>h1, .per-txt-3>h1, .per-txt-4>h1, .per-txt-5>h1{
        margin-right: 5%;
        font-size: 1em;
        margin-top: 3%;
    }

    .per-txt-1>h3{font-size: 0.9em;}

    .per-con p{
        margin-right: 5%;
        font-size: 0.8em;
        margin-top: 3%;
    }

    .per-img-1{top: 0%; left: -53%;}

    .per-img-2{top: 0%; left: -37%;}

    .per-img-3{top: 0%; left: -27%;}

    .per-img-4{top: 0%; left: -17%;}

    .per-img-5{top: 0%; left: -48%;}

    /* Convenience */

    .conv-txt-1>h4, .conv-txt-2>h4, .conv-txt-3>h4, .conv-txt-4>h4, .conv-txt-5>h4, .conv-txt-6>h4, .conv-txt-7>h4{
        font-size: 1px;
    } 

    .conv-txt-1>h1, .conv-txt-2>h1, .conv-txt-3>h1, .conv-txt-4>h1, .conv-txt-5>h1, .conv-txt-6>h1, .conv-txt-7>h1{
        margin-right: 5%;
        font-size: 1em;
        margin-top: 3%;
    }

    .conv-txt-1>h3{font-size: 0.9em;}

    .conv-con p{
        margin-right: 5%;
        font-size: 0.8em;
        margin-top: 3%;
    }

    .conv-img-1{top: 0%; left: -60%;}

    .conv-img-2{top: -10%; left: -60%;}

    .conv-img-3{top: -10%; left: -60%;}

    .conv-img-4{top: -10%; left: -60%;}

    .conv-img-5{top: -10%; left: -60%;}

    .conv-img-6{top: -10%; left: -34%;}

    .conv-img-7{top: -10%; left: -25%;}

    .column-c{width: 25%;}

    /* space */
    .space-txt-1>h4, .space-txt-2>h4, .space-txt-3>h4, .space-txt-4>h4{
        font-size: 1px
    }

    .space-txt-1>h1, .space-txt-2>h1, .space-txt-3>h1, .space-txt-4>h1{
        margin-right: 5%;
        font-size: 1em;
        margin-top: 3%;
    }

    .space-con p{
        margin-right: 5%;
        font-size: 0.8em;
        margin-top: 3%;
    }

    .space-img-1{top: 0%; left: -40%;}
    
    .space-img-2{top: 0%; left: -60%;}

    .space-img-3{top: 0%; left: -25%;}

    .space-img-4{top: 0%; left: -25%;}

    .column-s{width: 25%;}

    .tabbar{padding-top: 20%;}


}