@media(max-width: 1200px){

    /* section01 */
    .kar-icon>img{top: 23%; left: 45.5%;}
    .sec01_title{text-align: center; margin-top: -5%;}
    .sec01-right{margin-top: 5%;}
    .sec01_title h1{font-size: 2.5em;}
    .sec01_title p{font-size: 7em;}
    .sec01_title p:last-child{font-size: 2em;}

    .sec03-bottom-con-1{width: 100%;}

    /* section02 */
    .sec02-logo{margin-top: 0%;}
    .sec02-logo>img{width: 20%;}
    .tab-car-color>ul{display: flex; justify-content: center;}
    .tab-car-img{padding: 0;}
    .tab-car-color-choice{display: flex; padding-bottom: 3%;}

    /* section04 */
    /* section04 왼쪽 메뉴*/

    .sec04-title{
        height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec04-title>h1{margin: 0; padding: 0;}
    .sec04-outside-choice{
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .sec04-outside-choice img{
        width: 100%;
        margin-bottom: 20%;
        margin-top: 0;
    }
    
    .sec04-outside-choice img:hover{
        width: 100%;
    }

    /* sec04-center image */
    .sec04-outside-bg{
        height: 40vh;
    }

    .sec04-outdesign{height: 30vw;}
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 40vh;
        overflow: hidden;
    }

    .mohave-outside-01>img{
        width: 115%;
        left: -7%;
        top: -47%;
    }

    .mohave-outside-02>img{
        width: 110%;
        left: -8%;
        top: -42%;
    }

    .mohave-outside-03>img{
        width: 110%;
        left: -4%;
        top: -45%;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    
    .sec04-outdesig-top{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .sec04-outdesig-bottom{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .mohave-outdesign{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 22.5vh;
    }
    
    .mohave-outdesign img{
        width: 100%;
    }
    
    .mohave-outdesign h3{
        top: -70px;
    }
    
    .mohave-outdesign:hover h3{
        top: 5%;
    }
}

@media(max-width: 990px){

    /* section01 */
    .kar-icon>img{top: 23%; left: 45.5%;}
    .sec01_title{text-align: center;}

    /* section02 */

    .sec02-logo{margin-top: 7%;}
    .sec02-logo>img{width: 30%;}
    .tab-car-color>ul{margin-top: 0%;}

    /* section03 */
    .sec03-bottom-con-1{width: 100%;}
    .sec03-title{text-align: center;}
    .sec03-title-txt{margin: 0;}
    .sec03-title-boder{margin: 0 auto;}

    .sec03-bg{
        height: 60vh;
        background-position: 60%;
        background-size: cover;
    }

    .sec03-bottom-con-1{
        height: 20vh;
    }
    
    /* section04 */
    /* section04 왼쪽 메뉴*/
    .sec04-border{
        margin-top: 1%;
    }

    .sec04-outside-choice{
        height: 10vw;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .sec04-outside-choice img{
        width: 80%;
        margin-bottom: 0;
    }
        
    .sec04-outside-choice img:hover{
        width: 80%;
    }

    .outside-01 .outside-02 .outside-03{
        margin-right: 10%;
    }

    /* sec04-center image */
    
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 40vw;
        overflow: hidden;
    }

    .mohave-outside-01>img{
        width: 120%;
        left: -9%;
        top: -52%;
    }

    .mohave-outside-02>img{
        width: 100%;
        left: 0%;
        top: -32%;
    }

    .mohave-outside-03>img{
        width: 115%;
        left: -6%;
        top: -48%;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        height: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mohave-outdesign h3{
        font-size: 1.3em;
        top: -80px;
    }
}

@media(max-width: 767px){

    /* section01 */
    .kar-icon>img{
        position: absolute;
        top: -12%;
        left: 44%;
    }

    .sec01_title{font-size: 0.9em;}

    /* section02 */

    .main_info{width: 300px;}

    .sec02-logo{margin-top: 10%;}

    .tab-car-color{
        display: flex;
        justify-content: center;
    }

    /* section04 */
    .sec04-bg{
        padding: 0;
        width: 100%;
        height: 150vh;
    }
    
    /* sec04-title */
    .sec04-title{
        width: 100%;
        height: 15vh;
        margin-top: 3%;
    }
    
    .sec04-title>h1{
        font-size: 1.8em;
    }
    
    .sec04-border{
        border-bottom: 3px solid rgb(202, 25, 25);
    }
    
    .sec04-title>h4{
        font-size: 1.1em;
    }
    
    /* sec04-왼쪽 메뉴 */
    .sec04-outside-choice{
        width: 100%;
        height: 15vh;
    }
    
    .sec04-outside-choice img{
        width: 100%;
    }
    
    .sec04-outside-choice img:hover{
        width: 100%;
    }

    /* sec04-center image */
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 50vh;
    }

    .mohave-outside-01>img{
        width: 150%;
        left: -25%;
        top: -25%;
    }

    .mohave-outside-02>img{
        width: 120%;
        left: -15%;
        top: -10%;
    }

    .mohave-outside-03>img{
        width: 150%;
        left: -25%;
        top: -25%;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        height: 60vh;
    }

    .sec04-outdesig-top{
        margin-top: 5%;
    }

    .sec04-outdesig-bottom{
        margin-top: 5%;
    }

    .mohave-outdesign h3{
        font-size: 1em;
        top: -80px;
    }

    /* sec05-title */
    .sec05-title{
        width: 100%;
        height: 15vh;
        margin-top: 3%;
    }
    
    .sec05-title>h1{
        font-size: 1.8em;
    }
    
    .sec05-border{
        border-bottom: 3px solid rgb(202, 25, 25);
    }
    
    .sec05-title>h4{
        font-size: 1.1em;
    }
}

@media (max-width: 576px){

    /* section01 */
    /* section01 */
    .kar-icon>img{top: 23%; left: 45.5%;}
    .sec01_title{text-align: center; margin-top: -5%;}
    .sec01-right{margin-top: 5%;}
    .sec01_title h1{font-size: 1.3em;}
    .sec01_title p{font-size: 4em;}
    .sec01_title p:last-child{font-size: 1.3em; letter-spacing: -1.2px;}

    .sec03-bottom-con-1{width: 100%;}

    .kar-icon>img{top: -10%; left: 38%;}

    /* section02 */

    /* section03 */
    .sec03-bg{
        width: 100%;
        height: 70vh;
        background: url(../images/sec03-bg.jpg);
        background-position: 60% 43%;
        background-size: cover;
        background-attachment: fixed;
    }

    .sec03-title{margin-top: 15%;}

    .sec03-title>h2{font-size: 1.5em; color: #fff;}
    .sec03-title>h2>strong{color: rgb(202, 25, 25);}

    .sec03-title>h1{font-size: 4em; font-weight: 700; color: #fff;
    border-top: 5px solid rgb(202, 25, 25); width: 50px;}

    /* section04 */
    .sec04-bg{
        padding: 0;
        width: 100%;
        height: 120vh;
    }
    
    /* sec04-title */

    .sec04-title{
        height: 10vw;
    }
    
    .sec04-title>h1{
        font-size: 1.3em;
    }
        
    .sec04-title>h4{
        font-size: 1em;
    }
    
    /* sec04-center image */
    .mohave-outside-01, .mohave-outside-02, .mohave-outside-03{
        height: 65vw;
    }

    /* section04 오른쪽 내용 */

    .sec04-outdesign{
        height: 60vw;
    }

    .sec04-outdesig-top{
        margin-top: 0%;
    }

    .sec04-outdesig-bottom{
        margin-top: 0%;
    }

    /* sec05-title */

    .sec05-title{
        height: 10vh;
    }
    
    .sec05-title>h1{
        font-size: 1.3em;
    }
        
    .sec05-title>h4{
        font-size: 1em;
    }
    
}