
/* Home-------------------------------------------------------- */
.header-logo{
    width: 200px;
}

.main-background{
    background: url('../images/index_mainimg-3.jpg');
}

.sec01-contents-bg{
    width: 100%;
    background-color: #fff;
}

.intro{
    padding-right: 15px;
    padding-left: 15px;
}

.intro p{
    font-size: 14px;
    font-family: "Poppins", Arial, sans-serif;
}

/* 아이콘링크 */

.rome-icon, .bus-icon, .tiket-icon, .snap-icon{
    width: 30%;
    margin-bottom: 1rem;
}

.iconlink{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* 추천 여행지 */


.recommend-title{
    font-weight: bold;
}

.tablink {
    background-color: #fff;
    color: #555;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
    border-radius: 10px;
  }
  
  .tablink:hover {
    background-color: #eee;
    transition: all 0.5s;
    color: #555;
    font-weight: 500;
  }

  
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .tablink:last-child{
      border-left: 5px solid #555;
  }
  
  .tiket-menu {color: #555;}
  .guidetour-menu {color: #555;}

  .tablink-border{float: right; line-height: 60px; font-size: 20px;}

  
  /* 추천 여행지 탭 - 가이드투어 */

  .recommend-tiket-images{
      width: 100%;
      height: 550px;
      background-size: cover;
      position: relative;
      cursor: pointer;
  }

  .recommend-tiket-images:hover .recommend-tiket-overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      transition: all 0.5s;
  }

  .recommend-tiket-images:hover .recommend-tiket-overlay-p{
      display: block;
      width: 50%;
      margin: 100% auto;
      line-height: 35px;
      border: 1px solid #fff;
  }

  .recommend-tiket-overlay-p:hover{
      background-color:#fff;
      color: #000;
      border: 1px solid #fff;
      transition: all 0.5s;
      font-weight: bold;
  }

  .recommend-tiket-overlay-p{
      text-align: center;
      display: none;
  }

.recommend-tiket-txt-w{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

    .recommend-tiket-txt-w h6{
        font-weight: 100;
        margin-top: 25px;
        font-size: 15px;
    }

    .recommend-tiket-txt-w h4{
      font-weight: 550;
      color: #fff;
    }

    .recommend-tiket-txt-w p{
      font-size: 12px;
    }


.recommend-tiket-txt-b{
color: #181818;
font-family: 'Roboto', sans-serif;
}

    .recommend-tiket-txt-b h6{
      font-weight: 100;
      margin-top: 25px;
      font-size: 15px;
  }

    .recommend-tiket-txt-b h4{
        font-weight: 550;
        color: #181818;
    }

    .recommend-tiket-txt-b p{
        font-size: 12px;
    }

/* 방문 */

.heading-section-black h2{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'GmarketSansMedium';
}

.pbw-5{
    padding-bottom: 5rem !important;
}


/* footer */

.footer-logo{
    width: 200px;
}

.footer-d-line{
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.footermenu-line>li{
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0px 15px 0px 15px;
}

.footermenu-line>li:first-child {
    border-left: none;
}

.footer-name{
    font-size: 16px !important;
    padding: 1rem 0;
}

.footer-text{
    padding: 0.2rem;
}

.text-con{
    margin-left: 30px;
}

@media (max-width: 992px){
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
        color: rgba(0, 0, 0, 0.7) !important;
    }
}

/* 로마 즐기기 ------------------------------------------------- */

.index-bg{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#020061+0,000000+99&0+0,0.8+99 */
background: -moz-linear-gradient(top,  rgba(2,0,97,0) 0%, rgba(0,0,0,0.6) 70%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(2,0,97,0) 0%,rgba(0,0,0,0.6) 70%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(2,0,97,0) 0%,rgba(0,0,0,0.6) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00020061', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
width: 100%;
height: 100%;

}

.about-description p{
    margin-bottom: 0.5rem;
}

.check-rome{
    position: relative;
}

.check-rome-title>h2{
    margin-top: 2rem;
}

.check-rome-account{
    font-family: 'Roboto', sans-serif;
}

.check-rome-account>a{
    font-weight: 550;
}

.check-rome-account>a:hover{
    color: #158fb4 !important;
}

.email-news{
    background: linear-gradient(135deg, #5f6dee 0%, #158fb4 100%) !important;
}

.yellow{
    color: #ffd800;
}

.align{
    text-align: justify;
}

@media (max-width: 990px){

    /* 탭링크------------------------------------------- */

      .tablink{
          width: 35%;
      }
  }

  @media (max-width: 768px){

    /* 탭링크------------------------------------------- */

      .tablink{
          width: 49%;
      }

      .r-pb{
          padding-bottom: 1rem;
      }

      .tabcontent{
          padding: 60px 20px;
      }

      .recommend-tiket-txt-b h4, .recommend-tiket-txt-w h4{
          font-weight: 700;
          font-size: 18px;
      }

      .recommend-tiket-txt-w h6, .recommend-tiket-txt-b h6{
        font-size: 13px;
      }

      .recommend-tiket-image{
        position: relative;
        z-index: -15;
    }

        .t-overlay-1{
            position: absolute;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 1%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 1%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 1%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 );
            width: 100%;
            height: 100%;
            z-index: 50;
        }

        .t-overlay-2{
            position: absolute;
            background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.8) 1%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.8) 1%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.8) 1%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 );
            width: 100%;
            height: 100%;
            z-index: 50;
        }

        .recommend-tiket-txt-w>h4>br{
            display:none;
        }

        .r-overlay-1{
            position: absolute;
            background: -moz-linear-gradient(top,  rgba(2,0,97,0.8) 1%, rgba(2,0,97,0) 70%);
            background: -webkit-linear-gradient(top,  rgba(2,0,97,0.8) 1%,rgba(2,0,97,0) 70%);
            background: linear-gradient(to bottom,  rgba(2,0,97,0.8) 1%,rgba(2,0,97,0) 70%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc020061', endColorstr='#00020061',GradientType=0 );
            width: 100%;
            height: 100%;
            z-index: 50;
        }

        .r-overlay-2{
            position: absolute;
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 1%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 1%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 1%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 );
            width: 100%;
            height: 100%;
            z-index: 50;
        }

        .r-overlay-3{
            position: absolute;
            background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.9) 1%, rgba(255,255,255,0) 70%);
            background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.9) 1%,rgba(255,255,255,0) 70%);
            background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.9) 1%,rgba(255,255,255,0) 70%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 );
            width: 100%;
            height: 100%;
            z-index: 50;
        }

        .b-position-1{
            background-position: bottom;
        }

        .b-position-2{
            background-position: bottom;
        }

        .b-position-3{
            background-position: bottom;
        }
  }

  @media (max-width: 576px){

    .ftco-section-pt{
        padding: 4rem 0 !important;
    }

    .recommend-title{
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .tablink{
        width: 49%;
        font-size: 14px;
        height: 50px;
    }

    .tablink-border{
        line-height: 45px;
    }

    .r-pb{
        padding: 0 0 1rem 0;
    }

    .tabcontent{
        padding: 65px 15px;
    }
    
    /* footer */

    .footermenu-line{
        margin-top: 0;
    }

    .footer-text-list{
        padding: 0.5rem 1rem;
    }

    .footer-icon{
        padding-right: 10px;
    }

    .footer-icon1{
        padding-right: 10px;
        padding-left: 5px;
    }

    .text-con{
        margin-left: 0;
    }
  }

/* 가이드투어 ------------------------------------------------- */
.guidetour-wrap{
    width: 100%;
    height: 500px !important;
    position: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.guidetour_main_bg-1{
    background-position: center -450px;
}

.guidetour_main_bg-2{
    background-position: center -100px;
}

.guidetour_main_bg-3{
    background-position: center -300px;
}

.m-guidetour-wrap-title h1{
    font-family: 'GmarketSansMedium' !important;
    font-size: 60px;
    color: #ffd800;
    line-height: 60px;
}

.m-guidetour-wrap-title p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.guidetour-wrap-txt{
    height: 500px !important;
    display: flex;
    align-items: center;
}

.m-guidetour-wrap-title .btn.btn-primary{
    background: none !important;
    border: 1px solid #fff !important;
    color: #fff !important
}

.m-guidetour-btn{
    padding-top: 1rem;
}

.form-title{
    font-weight: 600;
}

.m-p-3{
    padding: 1rem 0 !important;
}

.recommend-tiket-txt-gb{
    color: #181818;
    font-family: 'Roboto', sans-serif;
}

.recommend-tiket-txt-gb h6{
    font-weight: 100;
    margin-top: 20px;
    font-size: 15px;
}

.recommend-tiket-txt-gb h4{
    font-weight: 550;
}

.m-guidetour-textbox{
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.destination:hover .guidetour-thema-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.5s;
}

.m-no-mb{
    margin-bottom: 0;
}

.m-no-p{
    padding: 0 !important;
}

.submain-slider .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%; }
    .submain-slider .owl-nav .owl-prev,
    .submain-slider .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0; }
      .submain-slider .owl-nav .owl-prev span:before,
      .submain-slider .owl-nav .owl-next span:before {
        font-size: 30px;
        color: rgba(0, 0, 0, 0.1);
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .submain-slider .owl-nav .owl-prev:hover span:before, .submain-slider .owl-nav .owl-prev:focus span:before,
      .submain-slider .owl-nav .owl-next:hover span:before,
      .submain-slider .owl-nav .owl-next:focus span:before {
        color: rgba(0, 0, 0, 0.3); }
        .submain-slider .owl-nav .owl-prev {
      left: 50%;
      margin-left: -80px; }
      .submain-slider .owl-nav .owl-next {
      right: 50%;
      margin-right: -80px; }
  
      .submain-slider:hover .owl-nav .owl-prev,
      .submain-slider:hover .owl-nav .owl-next {
    opacity: 1; }
  
    .submain-slider:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px; }
  
    .submain-slider:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px; }

    .submain-slider .owl-dots{
        position: absolute;
        top: 90%;
        left: 45%;
    }

    .submain-slider .owl-dots {
        text-align: center; }
        .submain-slider .owl-dots .owl-dot {
          width: 10px;
          height: 10px;
          margin: 5px;
          border-radius: 50%;
          background: #e6e6e6;
          position: relative; }
          .submain-slider .owl-dots .owl-dot:after {
            position: absolute;
            top: -2px;
            left: -2px;
            right: 0;
            bottom: 0;
            width: 14px;
            height: 14px;
            content: '';
            border: 1px solid #e6e6e6;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
            .submain-slider .owl-dots .owl-dot.active {
            background: #b3b3b3; }

            .submain-slider .owl-height{
                height: 500px !important;
            }
            .submain-slider .owl-stage-outer{
                height: 500px !important;
            }

            .submain-slider .owl-stage{
                height: 500px !important;
            }

            .submain-slider .owl-item{
                opacity: 1 !important;
            }


/* 티켓 --------------------------------------------------------------- */

.tiket_main_bg-1{
    background-position: center -600px;
}

.tiket_main_bg-2{
    background-position: center -100px;
}

.guidetour_main_bg-3{
    background-position: center -500px;
}

.m-tiket-lineheight{
    line-height: 72px;
}

